.info {
  height: auto;
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 1100px;
  text-align: center;
  margin: 50px auto;
  border: 12px solid rgb(236, 236, 236);
}
.header {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}
myP {
  text-align: right;
}
