<div
  class="sub-header mat-elevation-z2"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
>
  <span
    class="p-input-icon-left"
    fxLayout="row wrap"
    fxFlex.xs="90"
    [ngStyle.lt-md]="{ width: '250px' }"
    [ngStyle.xs]="{ margin: '10px 0' }"
  >
    <i
      class="pi pi-search"
      style="cursor: pointer"
      [ngStyle]="searchInput.value ? { color: 'red' } : { color: 'gray' }"
    ></i>
    <input
      #searchInput
      pInputText
      type="text"
      placeholder="البحث عن المنتجات والعلامات التجارية والاقسام"
      [value]="search"
      (keydown.enter)="onSearch(searchInput.value)"
    />
  </span>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxFlex.xs="100"
    [ngStyle.xs]="{ margin: '20px 0' }"
  >
    <button class="button1" mat-button fxLayoutAlign="center center">
      <mat-icon>account_circle</mat-icon>
      تسجيل الدخول
    </button>
    <button
      class="button1 cart"
      mat-button
      fxLayout="row wrap"
      fxLayoutAlign="center center"
    >
      <span class="num" fxFlex="100">15</span>
      <div fxFlex="100" fxLayoutAlign="center center">
        <mat-icon>shopping_cart</mat-icon>
        عربه التسوق
      </div>
    </button>
  </div>
</div>
<div class="body-container" fxLayout="row wrap" fxLayoutAlign="center center" dir="rtl" >
  <div
    class="banner"
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="center center"
    dir="rtl"
    fxLayoutGap="20px"
  >
    <div
     class="sideNav mat-elevation-z1"
      fxFlex="18"
      fxLayout="row wrap"
      fxLayoutAlign="center start"
      style="height: 350px;"
    >
      <div
        class="tap"
        fxFlex="100"
        fxLayoutAlign="start center"
        *ngFor="let product of products"
        [routerLink]="product.id"
        (mouseover)="hover(product)"
      >
        <!-- Enter icon -->
       <img src="{{product.icon}}" class="myIconImg"/>
        {{ product.name }}
      </div>
    </div>

    <div *ngIf="displayDiv" id="typeDiv" style="position: absolute;">
      <div class="filterDiv" *ngFor="let pro of filteredProducts" >
        <h4 *ngIf="pro?.title">{{ pro?.title }}</h4>
        <hr />
        <div *ngFor="let elem of pro.myProductss">
          <p id="typee" *ngIf="elem?.type" [routerLink]="[selectedcategory, pro.id, elem.id]" style="font-size: 15px;font-weight: normal;cursor: pointer;">
            {{ elem?.type }}
          </p>
        </div>
      </div>
    </div>


    <div
      class="carousel mat-elevation-z1"
      fxFlex="47"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      *ngIf="diplayImg"
    >
      <p-galleria
        fxFill
        [value]="carouselOffers$ | async"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ width: '100%' }"
        [numVisible]="5"
        [autoPlay]="true"
        [circular]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [showIndicators]="true"
        [showItemNavigatorsOnHover]="true"
        [showIndicatorsOnItem]="true"
      >
        <ng-template pTemplate="item" let-item>
          <img
            [src]="item.imgUrl"
            style="width: 100%; display: block; height: calc(60vh)"
          />

        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.imgUrl" style="display: block; height: calc(60vh)" />
          </div>
        </ng-template>
      </p-galleria>
    </div>

    <div
      *ngIf="displayDiv"
      class="carousel filterBanner mb-4"
      fxFlex="45"
      style="position: relative;right: 1px;height: 370px;top: 22px;"

    >
      <!-- handel links here -->
    </div>


    <div class="ads" fxFlex="17" fxLayout="row wrap" fxLayoutAlign="center space-between"  (mouseover)="hideDiv()">
      <div fxFlex="103" class="ad mat-elevation-z1" fxLayoutAlign="center center">
        اعلان
      </div>
      <div fxFlex="103" class="ad mat-elevation-z1" fxLayoutAlign="center center">
        اعلان
      </div>
    </div>
  </div>








  <div
    class="best-seller b-r-3 mat-elevation-z1"
    fxFlex="80"
    fxLayout="row wrap"
    fxLayoutAlign="center start"
    style="margin-top: 15px;"
    (mouseover)="hideDiv()"
  >
    <div class="title tittle-18 t-start t-600 m-r-5 h-40" fxFlex="100">
      المنتجات الاكثر مبيعا
    </div>

    <p-carousel
      fxFlex="100"
      [value]="cards"
      [numVisible]="5"
      [numScroll]="5"
      [circular]="true"
      [autoplayInterval]="6000"
      [responsiveOptions]="cards"
      dir="ltr"
    >
      <ng-template
        let-product
        pTemplate="item"
        fxLayout="row wrap"
        fxLayoutAlign="center start"
      >
        <div class="image-pic-carousel" fxLayout="row wrap" fxLayoutAlign="center start">
          <item
            fxFlex="97"
            [item]="product"
            [routerLink]="['item', product.id]"
          ></item>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div
    class="grateOffer mat-elevation-z1"
    fxFlex="80"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <div fxFlex="100" class="subOffer" fxLayout="row wrap" fxLayoutAlign="center center">
      Grade Offer
    </div>
  </div>
  <div
    class="grateOffer mat-elevation-z1"
    fxFlex="80"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
  >
    <div fxFlex="50" class="subOffer" fxLayout="row wrap" fxLayoutAlign="center center">
      offer1
    </div>
    <div fxFlex="50" class="subOffer" fxLayout="row wrap" fxLayoutAlign="center center">
      offer2
    </div>
  </div>
  <div
    class="grateOffer mat-elevation-z1"
    fxFlex="80"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
  >
    <div fxFlex="50" class="subOffer" fxLayout="row wrap" fxLayoutAlign="center center">
      offer1
    </div>
    <div fxFlex="50" class="subOffer" fxLayout="row wrap" fxLayoutAlign="center center">
      offer2
    </div>
  </div>

  <div class="row" style="background-color: rgb(51, 46, 46);border-radius: 10px 10px 0px 0px" >
    <div class="col-md-6" style="width: 550px;">
      <p style="color: white; font-size: 20px; font-weight: bold; margin-top: 15px">
        تنزيل تطبيق جوميا المجاني <br />
        احصل علي المزيد من العروض الحصريه
      </p>
    </div>
    <div class="col-md-6" style="width: 550px;">
      <img class="footerPic" src="assets/images/images/download.png" />
    </div>
  </div>
  <footer class="Foott">
    <div id="footerDiv" class="col-md-4" *ngFor="let elem of footerArray">
      <h2 style="font-weight: bold" *ngIf="elem?.head.length">{{ elem?.head }}</h2>
      <div
        style="color: white; padding-top: 10px; font-weight: bold"
        *ngFor="let link of elem.linkArr; let i = index"
      >
        <p class="myLinks" *ngIf="link?.links.length">{{ link?.links }}</p>
      </div>
      <hr style="border: 1px solid #ddd" />
    </div>

    <div class="col-md-3" style="float: right">
      <h2>تابعونا علي</h2>
      <div>
        <img class="socialPics" src="assets/social media icons/facebook.png" />
        <img class="socialPics" src="assets/social media icons/twitter.png" />
        <img class="socialPics" src="assets/social media icons/whatsapp.png" />
      </div>
    </div>
    <p class="copy">
      copyrights&copy; <br />
      All Rights Reserved 2021 <br />
      jumia.com
    </p>
    <div>
      <img class="jm" src="assets/images/images/gm.png" />
    </div>
  </footer>

</div>
<!-- <div class="mainDiv">
  <h5
    class="namesHeader"
    (mouseover)="hover(product)"
    *ngFor="let product of products"
    [routerLink]="product.id"
  >
    {{ product.name }}
  </h5>
</div> -->

<!-- <div *ngIf="displayDiv" id="typeDiv">
  <div class="filterDiv" *ngFor="let pro of filteredProducts">
    <h4 *ngIf="pro?.title">{{ pro?.title }}</h4>
    <hr />
    <div *ngFor="let elem of pro.myProductss">
      <p id="typee" *ngIf="elem?.type" [routerLink]="[selectedcategory, pro.id, elem.id]">
        {{ elem?.type }}
      </p>
    </div>
  </div>
</div> -->

<!-- <div
  class="container"
  style="margin-bottom: 20px; border: 1px solid rgb(255, 197, 197, 0.5); height: 430px"
>
  <div class="row">
    <div class="col-md-3">
      <aside *ngIf="diplayImg" id="ASIDE">
        <img id="bankImg" src="assets/images/images/bank.jpg" />
      </aside>
      <aside *ngIf="diplayImg" id="ASIDE">
        <img id="bankImgg" src="assets/images/images/bank.jpg" />
      </aside>
    </div>
    <div class="col-md-6">
      <img *ngIf="diplayImg" #imgg id="jumiaPic" src="assets/images/images/jumia.jpg" />
    </div>
  </div>
</div>

<div style="margin-bottom: 40px; width: 100%; height: 15px">
  <h2
    style="
      float: right;
      background-color: rgb(252, 238, 222);
      border-radius: 10px;
      font-weight: bold;
    "
  >
    المنتجات الاكثر مبيعا
  </h2>
</div>

<p-carousel
  [value]="cards"
  [numVisible]="3"
  [numScroll]="3"
  [circular]="true"
  [autoplayInterval]="3000"
  [responsiveOptions]="cards"
>
  <ng-template let-card pTemplate="cards">
    <div class="card-item">
      <div class="card-item-content">
        <div class="p-mb-3">
          <img [src]="card.imgUrl" id="" />
        </div>
        <div>
          <h6 class="p-mt-0 p-mb-3 mb-3px" style="height: 40px; text-align: center">
            {{ card.description }}
          </h6>
          <h6 class="p-mt-0 p-mb-3" style="height: 15px; text-align: center">
            {{ card.price }}
          </h6>
          <div class="card-buttons p-mt-5">
            <button
              mat-button
              id="cardBton"
              type="button"
              [routerLink]="['card', card.id]"
            >
              {{ card.button }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

<hr style="margin-top: 20px" />

<div style="margin-bottom: 70px" *ngFor="let myCard of secondCards">
  <div class="Head">
    <h2>{{ myCard.btn }}</h2>
    <h2>{{ myCard.cardTitle }}</h2>
  </div>
  <div id="divCard" class="col-md-3" *ngFor="let product of myCard.cardProducts">
    <mat-card class="cardContent">
      <img mat-card-image src="{{ product.imgUrl }}" />
      <mat-card-content>
        <mat-card-content style="text-align: center">
          {{ product.description }}
        </mat-card-content>
        <h4>
          <mat-card-content>
            {{ product.price }}
          </mat-card-content>
        </h4>
        <button id="cardBton" mat-button [routerLink]="['card', product.id]">
          {{ product.button }}
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="container" style="margin-bottom: 20px; height: 350px">
  <div class="row">
    <div class="col-md-5">
      <img class="maskImg1" src="assets/images/images/i1.jpg" />
    </div>
    <div class="col-md-7">
      <img class="maskImg2" src="assets/images/images/i2.jpg" />
    </div>
  </div>
</div>

<div class="container" style="height: 430px">
  <div class="row">
    <div class="col-md-12">
      <img class="offer1" src="assets/images/images/offer1.png" />
    </div>
    <div class="col-md-12">
      <img class="offer2" src="assets/images/images/offer2.png" />
    </div>
  </div>
</div>
<div class="info">
  <h3>جوميا مصر - أكبر موقع للتسوق عبر الإنترنت</h3>
  <p>
    أصبحت مواقع التسوق عبر الإنترنت الآن جزء من حياتنا اليومية، لأن الجميع يتمتع بإمكانية
    شراء كل ما يحتاجه، سواء كانت ملابس أو إلكترونيات، دون الحاجة إلى الانتقال من المنزل.
    هذا ما تقدمه جوميا مصر، والأفضل من هذا أن جوميا مصر توفر لك امكانية العثور علي كل
    المنتجات التي تبحث عنها في متجر واحد. هذا ما يجعل جوميا أحد أفضل مواقع تسوق عبر
    الإنترنت في مصر.
  </p>
  <h3>استمتع بعروض وخصومات من جوميا لا تنتهي</h3>
  <p>
    جوميا هي موقع تسوق الكتروني ممتع وسهل الاستخدام عند الحاجة إلي شراء أي نوع من المنتجات
    والأجهزة. نؤكد لك أنك ستعثر على شيء يعجبك في الكتالوج الخاص بنا عند التصفح عبر
    الانترنت في جوميا مصر. نوفر لكم كتالوج ملابس اون لاين يحتوي علي أكثر من مليون منتج
    للاختيار من بينهم! يمكنك التسوق لأي شيء تحتاجه سواء كنت تبحث عن ملابس محجبات او ملابس
    الأطفال واستمتع بالحصول علي احدث الازياء في مصر. جوميا مصر هي واحدة من أكبر مواقع تسوق
    اون لاين لأننا نسعى دائمًا إلى توسيع الكتالوج الخاص بنا لتقديم جميع المنتجات والاجهزة
    التي يمكن لعملائنا أن يبحثوا عن شرائها عبر الإنترنت.
  </p>
  <h3>تسوق الآن جميع المنتجات عبر الإنترنت</h3>
  <p>
    اشتري الاكلات والطعام المفضل لديك من خلال سوبرماركت جوميا الخاص بنا عبر الإنترنت مليء
    بجميع مكونات الطعام التي قد تحتاج لها، بالاضافة الي جميع مستلزمات المنزل. يمكنك التسوق
    بسهولة لشراء اي أجهزة منزلية من مجموعة كبيرة متاحة لدينا اون لاين تحتوي علي اجهزة تشمل
    ثلاجات، غسالة ملابس او تكييف، على سبيل المثال. اشتري من اكبر تشكيلة الكترونيات عالية
    الجودة اون لاين من موردين وعلامات تجارية موثوقة. يمكنك شراء تلفزيون جديد لغرفة
    المعيشة، الهاتف الذكي المفضل لديك أو حتى جهاز بلاي ستيشن 4وPS5، على سبيل المثال. احصل
    على أحدث إصدارات الهواتف قبل أي شخص آخر في البلد، سواء كنت ترغب في شراء احدث
    الموبايلات من ابل، شاومي، انفنكس، سامسونج او ريلمي، من بين العديد من ماركات الهواتف
    الاخري للاختيار من بينها بأرخص اسعار الموبايلات فى مصر. لدينا مجموعة مذهلة أخرى متاحة
    لدينا وهي مخصصة لأجهزة الكمبيوتر وأجهزة اللاب توب وجميع الاكسسوارات الخاصة بهم. تسوق
    لشراء طابعة، سكانر، مستلزمات الكمبيوتر أو شاشة كمبيوتر لتحسين تجربة الكمبيوتر أو اللاب
    توب الخاصة بك إلى اقصى حد! يتم توفير جميع هذه المنتجات وأكثر في جوميا مصر بأرخص سعر في
    السوق، لذلك اشتري اون لاين اليوم واستمتع بأسرع توصيل الي اي مكان في مصر.
  </p>
  <h3>اكتشف عالم التسوق عبر الإنترنت اليوم</h3>
  <p>
    اشتري عبر الانترنت واستمتع بأكبر عروض جوميا مصر التي لا تنتهي وتسوق من بين اكبر خصومات
    المتاحة طوال العام، وكل هذا من أجل إرضاء عملائنا. انضم إلى أعضاء صفحتنا على فيس بوك
    لتعرف كل العروض والتخفيضات قبل اي شخص آخر والتي تشمل اسبوع الموبايلات، رمضان، عيد
    ميلاد جوميا، عيد الأماو بلاك فريداي. كما يمكنك أيضاً شراء تذاكر للحفلات والمناسبات
    الهامة الرائعة. لدينا فريق متخصص للإجابة على كل أسئلتك فورًا على مواقع التواصل
    الإجتماعي وخدمة العملاء متوفرة طوال الأسبوع للمساعدة في حل أي مشاكل والإجابة على جميع
    الاستفسارات، ببساطة اتصل علي 19586. اذا كنت بحاجة الي المساعدة في انشاء طلب جديد علي
    جوميا، اتصل بنا علي 15204 ابتدائا من 1 نوفمبر. بالإضافة إلى ذلك، إذا كنت تمتلك محل أو
    متجر، يمكنك الآن البدء في بيع منتجاتك على جوميا مصر حيث نحرص دائمًا على مساعدتك في
    زيادة مبيعاتك! كبر حجم أعمالك الآن وانضم لفريق شركاء جوميا. جوميا مصر توفر لك أفضل
    خدمات عبر الانترنت، منتجات أصلية 100% وعروض حصرية. استمتع بأسرع توصيل الى باب المنزل،
    طرق دفع امنة و سهلة، بالاضافة الى ارجاع مجاني لجميع المنتجات خلال 14 يوم من الاستلام،
    ويمكنك ايضا زيارة صفحة سياسة الاسترجاع للمزيد من المعلومات عن إرجاع منتجات جوميا.
    ابقوا معنا للحصول على أفضل الأسعار في مصر على جميع المنتجات المفضلة لديك مع جوميا مصر.
  </p>
</div>
<footer class="Foott">
  <div class="row" style="background-color: rgb(51, 46, 46)">
    <div class="col-md-6">
      <p style="color: white; font-size: 20px; font-weight: bold; margin-top: 15px">
        تنزيل تطبيق جوميا المجاني <br />
        احصل علي المزيد من العروض الحصريه
      </p>
    </div>
    <div class="col-md-6">
      <img class="footerPic" src="assets/images/images/download.png" />
    </div>
  </div>
  <div id="footerDiv" class="col-md-4" *ngFor="let elem of footerArray">
    <h2 style="font-weight: bold" *ngIf="elem?.head.length">{{ elem?.head }}</h2>
    <div
      style="color: white; padding-top: 10px; font-weight: bold"
      *ngFor="let link of elem.linkArr; let i = index"
    >
      <p class="myLinks" *ngIf="link?.links.length">{{ link?.links }}</p>
    </div>
    <hr style="border: 1px solid #ddd" />
  </div>

  <div class="col-md-3" style="float: right">
    <h2>تابعونا علي</h2>
    <div>
      <img class="socialPics" src="assets/social media icons/facebook.png" />
      <img class="socialPics" src="assets/social media icons/twitter.png" />
      <img class="socialPics" src="assets/social media icons/whatsapp.png" />
    </div>
  </div>
  <p class="copy">
    copyrights&copy; <br />
    All Rights Reserved 2021 <br />
    jumia.com
  </p>
  <div class="col-md-7">
    <img class="jm" src="assets/images/images/gm.png" />
  </div>
</footer> -->
