<br />
<br />
<div class="layout" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="15px">
  <!-- side details -->
  <mat-card class="side mat-elevation-z1" fxFlex="22" fxLayout="column" fxLayoutAlign="start stretch" fxHide fxShow.gt-xs >
      <label id="example-radio-group-label" style="font-weight: bold">تقييم المنتج</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"  *ngFor="let elem of rateCheck" [value]="elem" fxLayout="row">
        <mat-radio-button class="example-radio-button" fxFlex="10"></mat-radio-button>
        <div fxFlex="55" fxLayoutAlign="start center">
          <app-star [rating]="elem.rate" fxFlex="100"></app-star>
        </div>
        <div fxFlexAlign="start center">أوأكثر</div>
      </mat-radio-group>


      <!-- second rate -->
      <div fxLayout="column" style="margin-top: 20px">
        <label id="example-radio-group-label" style="font-weight: bold"
          >تقييم البائع</label
        >
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          dir="rtl"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let elem of rateCheck2"
            [value]="elem"
          >
            {{ elem.rate }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
  </mat-card>
  <!-- filter container -->
  <mat-card
    class="filter-container mat-elevation-z1"
    fxFlex="73"
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayout.xs="column"
    fxFlex.xs="100"
    fxLayoutGap.xs="2px"
  >
    <div dir="ltr" style="height: 23px">
      <button mat-button id="filterBtn" class="bg-light" [matMenuTriggerFor]="menu">
        : ترتيب حسب
      </button>
      <mat-menu #menu="matMenu">
        <button fxLayoutAlign="end" mat-menu-item *ngFor="let item of menuButton">
          {{ item.name }}
        </button>
      </mat-menu>
    </div>
    <hr class="line" />

    <div
      class="cardsDiv card m-t-8"
      fxLayout="row"
      *ngFor="let card of cards"
      dir="ltr"
      fxLayoutGap="1%"
    >
      <div fxFlex="35" fxLayout="column" fxLayoutAlign="space-around start">
        <p fxFlex="40" id="priceP" class="mt-3">{{ card.price }}</p>
        <button mat-raised-button color="primary" class="m-l-5">اضافه لسلة التسوق</button>
      </div>
      <div fxFlex="40" fxLayout="column" fxLayoutAlign="start stretch">
        <p fxLayoutAlign="end center" class="m-t-8">{{ card.details }}</p>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
          <app-star
            class="h-40"
            fxFlex="25"
            fxFlex.xs=""
            fxFlexAlign="end"
            [rating]="card.rate"
          ></app-star>
          <div fxFlex="35" fxLayoutAlign="end" fxLayoutAlign.xs="center" class="h-40">التقييم</div>
        </div>
      </div>
      <div fxFlex="25" fxFlex.xs="30">
        <img
          fxFlex.xs="95"
          class="cardImg"
          ngClass.xs="myHieght"
          src="{{ card.imgUrl }}"

        />
      </div>
    </div>
  </mat-card>
</div>

<br />
<br />
