#crop {
  overflow: hidden;
  height: 20px;
  margin-top: -32px;
}
div {
  cursor: pointer;
  text-align: -webkit-center;
  margin-top: -4px;
}
#myStarDiv span{
text-align: center;
color: gold;
direction: rtl;
cursor: pointer;
}
