<!-- Default view -->
<div
  *ngIf="!addProduct"
  class="title-1"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div>منتجاتي</div>
  <button
    class="button-3"
    mat-raised-button
    color="primary"
    (click)="onAddEditProductForm()"
  >
    اضافة منتج (للبيع)
  </button>
</div>
<hr *ngIf="!addProduct" class="hr" />

<div
  *ngIf="!addProduct && clientProduct.length === 0"
  class="main-cont"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
>
  <div class="no-order" fxLayout="row wrap" fxLayoutAlign="center center">
    <img src="assets/images/orders.abbfb10f.svg" alt="" />
    <br fxFlex="100" />
    <div fxFlex="100" class="title-1" fxLayout="row" fxLayoutAlign="center center">
      لم تقم بإضافة اي نتج جديد حتي الان !
    </div>
    <br fxFlex="100" />
    <p fxFlex="100" fxLayoutAlign="center center">
      قم بإضافة وتسويق مننجك لدي هاتلي ووديلي واستفيد بجميع خدماتنا
    </p>
    <br fxFlex="100" />
    <button mat-raised-button color="primary" (click)="onAddEditProductForm()">
      إضافة منتج
    </button>
  </div>
</div>

<div
  *ngIf="!addProduct && clientProduct.length !== 0"
  class="main-cont"
  fxLayout="row wrap"
  fxLayoutAlign="start start"
  fxLayoutGap="15px"
>
  <div
    *ngFor="let product of clientProduct"
    class="saved-prod"
    fxFlex="31.6"
    fxFlex.xs="97"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <!-- Bind image here -->
    <img src="assets/images/images/48.jpg" alt="" />
    <!-- Description -->
    <div
      class="dis p-8"
      fxFlex="100"
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="5px"
    >
      <div class="sale-con" fxLayout="row wrap" fxLayoutAlign="end center">
        <div class="sale b-r-2" *ngIf="product.sellingNum" fxLayoutAlign="center center">
          - {{ saleCount(product.price, product.sellingNum) }} %
        </div>
      </div>
      <h5>{{ product.name }}</h5>
      <p>{{ product.desc }}</p>
      <strong *ngIf="!product.sellingNum">{{ product.price }} جنيه</strong>
      <strong *ngIf="product.sellingNum">{{ product.sellingNum }} جنيه</strong>
      <div
        *ngIf="product.sellingNum"
        style="text-decoration: line-through; font-size: 0.89rem; font-weight: 100"
      >
        {{ product.price }} جنيه
      </div>
      <!-- product details here -->
    </div>
    <div class="pay" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
      <button
        mat-button
        color="primary"
        fxLayoutAlign="center center"
        (click)="onAddEditProductForm(product)"
      >
        <mat-icon>edit</mat-icon>
        تعديل
      </button>
      <button
        mat-button
        color="primary"
        fxLayoutAlign="center center"
        (click)="onRemoveProduct(product)"
      >
        <mat-icon>delete</mat-icon>
        إزالة
      </button>
    </div>
  </div>
</div>
<!-- New address or edit -->
<div *ngIf="addProduct" class="title-1" fxLayout="row" fxLayoutAlign="start center">
  <a fxLayoutAlign="center center" style="margin: 0 5px" (click)="backButton()">
    <mat-icon>arrow_forward</mat-icon></a
  >
  {{ editProduct ? "تعديل تفاصيل المنتج" : "إضافة منتج جديد ( للبيع )" }}
</div>
<hr *ngIf="addProduct" class="hr" />
<div
  *ngIf="addProduct"
  class="main-cont"
  fxLayout=" row wrap"
  fxLayoutAlign="start center"
  fxLayoutGap="15px"
>
  <div class="title-1" fxFlex="100" fxLayoutAlign="center center" style="color: orange">
    من فضلك املأ البيانات الاتية
  </div>
  <form
    [formGroup]="form"
    novalidate
    class="details-form"
    fxFlex="100"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
    fxLayoutAlign.xs="space-between stretch"
    dir="rtl"
  >
    <!-- file picker hand made (Mohamed Eldeeb) -->
    <div
      fxFlex="100"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      style="background-color: rgba(248, 248, 248, 0.259); border-radius: 8px"
    >
      <div class="title-2" fxFlex="100" fxLayoutAlign="start center">
        إضافة صورة للمنتج ( اقصي عدد 3 صور )
      </div>
      <label
        *ngFor="let p of filePicker"
        class="media-picker-item"
        fxLayout="row wrap"
        fxLayoutAlign="center center"
        [for]="p.id"
      >
        <a
          *ngIf="p.file"
          class="remove-img"
          fxLayoutAlign="center center"
          (click)="onRemoveImg(p.id)"
        >
          <mat-icon class="mat-icon-1">highlight_off</mat-icon></a
        >
        <div *ngIf="!p.file" fxFill fxLayout="row wrap" fxLayoutAlign="center center">
          +
        </div>
        <div
          *ngIf="p.file"
          fxFlex="100"
          fxLayout="row wrap"
          fxLayoutAlign="center center"
        >
          <img class="image-full" [src]="p.imageShow" />
        </div>
        <input
          *ngIf="!p.file"
          type="file"
          [id]="p.id"
          #input
          (change)="onSelectFile($event, input.files, p.id)"
          hidden
        />
      </label>
    </div>
    <!--  -->
    <mat-form-field fxFlex.gt-xs="47" appearance="fill">
      <mat-label>اسم المنتج</mat-label>
      <input formControlName="name" type="text" matInput />
      <mat-error>{{ requiredError }}</mat-error>
    </mat-form-field>
    <!--  -->
    <mat-form-field fxFlex.gt-xs="47" appearance="fill">
      <mat-label>الفئة التي ينتمي اليها </mat-label>
      <select formControlName="category" matNativeControl required>
        <option value="category">بقاله</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </mat-form-field>
    <!--  -->
    <mat-form-field fxFlex="96" appearance="fill">
      <mat-label>وصف المنتج</mat-label>
      <textarea formControlName="desc" matInput placeholder="وصف مختصر للمنتج"></textarea>
    </mat-form-field>
    <!--  -->
    <mat-form-field fxFlex.gt-xs="47" appearance="fill">
      <mat-label>السعر</mat-label>
      <input formControlName="price" type="number" matInput />
      <mat-error>{{ requiredError }}</mat-error>
    </mat-form-field>
    <!--  -->
    <mat-form-field fxFlex.gt-xs="47" appearance="fill">
      <mat-label>بعد الخصم ( اختياري )</mat-label>
      <input formControlName="sellingNum" type="number" matInput />
      <mat-error>{{ requiredError }}</mat-error>
    </mat-form-field>
    <!--  -->
    <mat-form-field fxFlex.gt-xs="47" appearance="fill">
      <mat-label>الكمية ( اجباري )</mat-label>
      <input formControlName="productAmount" type="number" matInput />
      <mat-error>{{ requiredError }}</mat-error>
    </mat-form-field>
    <!--  -->

    <br />
    <br />
    <!--  -->
    <button
      fxFlex="90"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="saveChanges(form, editProduct ? 'edit' : 'add')"
      [disabled]="form.invalid"
    >
      {{ editProduct ? "حفظ التغيرات" : "نشر للبيع" }}
    </button>
  </form>
  <br />
</div>
