$color: #ff6e00;
.body-container {
  min-height: 100%;
  width: 100%;
  background-color: whitesmoke;
}
.tap {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 !important;
}
.tap:hover {
  cursor: pointer;
  color: $color;
  background-color: whitesmoke;
}

.sub-header {
  position: sticky;
  top: 0;
  z-index: 99;
  min-height: 72px;
  width: 100%;
  padding: 0;
  direction: rtl;
  background-color: #ffff;
  a {
    text-decoration: none;
    color: #000000;
  }
  ::ng-deep {
    .p-inputtext {
      height: 45px;
      width: 400px;
      text-align: start;
    }
  }
  .cart {
    span {
      height: 20px;
      color: $color;
    }
  }

  .logo {
    outline: none;
    height: inherit;
    .word {
      font-size: 16px;
    }
    .num {
      font-size: 26px;
      margin: 0 5px;
      color: $color;
      font-weight: bolder;
    }
  }
}

.fire {
  position: relative;
  top: -6px;
  left: 124px;
  height: 35px;
  width: 129px;
  transition: 0.1s;
  background-color: yellow;
}

.fire {
  filter: url(#wavy);
}
::ng-deep .mat-menu-content {
  padding: 0px !important;
}
::ng-deep .menu.mat-menu-panel {
  min-width: 195px;
  direction: rtl !important;
  button.mat-menu-item {
    padding: 0 10px !important;
  }
  .mat-menu-item .mat-icon {
    margin: 0 5px !important;
  }
}

@media screen and (max-width: 600px) {
  ::ng-deep .menu.mat-menu-panel {
    min-width: 170px;
  }

  .sub-header {
    min-height: 54px;
  }
}
