
.main-cont {
  padding: 10px;
}

.details-form {
  min-height: auto;
  padding: 0;
  ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: #ffffff;
    }
    mat-form-field {
      margin-left: 0 !important;
      margin: 5px 17px;
    }
  }
}
