<br />
<br />
<div class="form-container" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="2%">
  <div
    class="form"
    fxFlex="40"
    fxFlex.xs="97"
    fxLayout="row wrap"
    fxLayoutAlign="center start"
    ngClass.xs="pushBottom"



  >
    <form
      [formGroup]="form"
      (ngSubmit)="login(form.value)"
      novalidate
      class="details-form"
      fxFlex="90"
      fxLayout="column"
      fxLayoutAlign="center stretch"
      dir="rtl"
    >
      <h1 fxLayoutAlign="center center">تسجيل الدخول</h1>
      <br />
      <!--  -->
      <mat-form-field appearance="fill">
        <mat-label>البريد الالكتروني</mat-label>
        <input formControlName="email" type="email" matInput required autofocus />
        <mat-error *ngIf="form.get('email').invalid">{{ emailError }}</mat-error>
      </mat-form-field>
      <!--  -->
      <mat-form-field appearance="fill">
        <mat-label>كلمة المرور </mat-label>
        <input
          formControlName="password"
          [type]="hidePass ? 'password' : 'text'"
          required
          matInput
        />
        <button mat-icon-button matSuffix (click)="hidePass = !hidePass">
          <mat-icon>{{ hidePass ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password').invalid"
          >من فضلك ادخل كلمة المرور</mat-error
        >
      </mat-form-field>
      <!--  -->
      <br />
      <section fxLayoutAlign="start center">
        <mat-checkbox formControlName="rememberMe" color="primary">تذكرني ؟</mat-checkbox>
      </section>
      <br />
      <button
        class="button-2"
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="form.invalid"
      >
        تسجيل الدخول
      </button>

      <div class="line" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="45" style="height: 1px; background-color: #cacaca"></div>
        <div fxFlex="5" fxLayoutAlign="center center" style="color: #9a938f">أو</div>
        <div fxFlex="45" style="height: 1px; background-color: #cacaca"></div>
      </div>

      <button
        mat-raised-button
        class="button-2"
        color="theme"
        routerLink="/shop/register"
      >
        انشاء حساب جديد
      </button>
    </form>
  </div>
  <!--  -->
  <!-- End-->
  <!--  -->

  <div class="divider" fxHide.xs fxFlexAlign="center"></div>
  <!--  -->

  <div
    class="form"
    fxFlex="48"
    fxFlex.xs="97"
    fxLayout="column"
    fxLayoutAlign="start"
  >
  <mat-card class="info mat-elevation-z2 b-r-5" >
    <div class="header"> => هاتلي وديلي - افضل موقع للتسوق عبر الإنترنت</div>
    <hr>
    <p class="myP">
      أصبحت مواقع التسوق عبر الإنترنت الآن جزء من حياتنا اليومية، لأن الجميع يتمتع
      بإمكانية شراء كل ما يحتاجه، سواء كانت ملابس أو إلكترونيات، دون الحاجة إلى الانتقال
      من المنزل. هذا ما يقدمه سوق هاتلي وديلي، والأفضل من هذا أننا نوفر لك امكانية
      العثور علي كل المنتجات التي تبحث عنها في متجر واحد. هذا ما يجعلنا أحد أفضل مواقع
      تسوق عبر الإنترنت في مصر.
    </p>
    <div class="header"> => استمتع بعروض وخصومات لا تنتهي</div>
    <hr>
    <p class="myP">
      هاتي وديلي هو موقع تسوق الكتروني ممتع وسهل الاستخدام عند الحاجة إلي شراء أي نوع من
      المنتجات والأجهزة. نؤكد لك أنك ستعثر على شيء يعجبك في الكتالوج الخاص بنا عند
      التصفح عبر الانترنت في موقعنا. نوفر لكم كتالوج ملابس اون لاين يحتوي علي أكثر من
      مليون منتج للاختيار من بينهم! يمكنك التسوق لأي شيء تحتاجه سواء كنت تبحث عن ملابس
    </p>
    </mat-card>
</div>

</div>
