<div fxLayout="row wrap" fxLayoutAlign="center center" dir="rtl">
  <div
    fxFlex="100"
    class="footer"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    dir="rtl"
  >
    <div
      class="logo"
      fxFlex.sm="90"
      fxFlex.xs="90"
      fxFlex.md="30"
      fxFlex.lg="30"
      fxFlex.xl="20"
      fxLayout="row wrap"
      fxLayoutAlign="start start"
    >
      <img
        fxFlex="30"
        src="../../../assets/images/footer-logo2.png"
        title="هاتلي وديلي"
      />
      <div fxFlex="100" class="line" fxLayout="row" fxLayout="center center">
        <div fxFlex class="orange"></div>
        <div fxFlex="60" class="gray"></div>
      </div>
      <p fxFlex="85">
        <strong>هاتلي وديلي </strong>هي شركة مصرية تعمل أساسا لشحن الطرود والبضائع في جميع
        انحاء المحافظات بواسطة كافة جميع وسائل المواصلات.
      </p>
      <div class="icons" fxFlex="70" fxLayout="row" fxLayoutAlign="center start">
        <a
          fxFlex="10"
          href="https://www.facebook.com/wadilyKomHamada/?view_public_for=100931745289342"
          target="_blank"
        >
          <i class="fab fa-facebook-square fa-3x" style="color: rgb(58, 58, 250)"></i>
        </a>
        <a fxFlex="10" href="https://twitter.com/hatlywwadely?s=08" target="_blank">
          <i class="fab fa-twitter-square fa-3x" style="color: rgb(63, 159, 255)"></i>
        </a>
        <a fxFlex="10" href="https://wa.me/+201063201017" target="_blank">
          <i class="fab fa-whatsapp-square fa-3x" style="color: rgb(0, 189, 0)"></i>
        </a>
        <a
          fxFlex="10"
          href="https://www.instagram.com/hatly_9_wadily?r=nametag"
          target="_blank"
        >
          <i class="fab fa-instagram fa-3x" style="color: rgba(255, 255, 255, 0.865)"></i>
        </a>
        
      </div>
    </div>

    <div
      class="links"
      fxFlex.sm="90"
      fxFlex.xs="90"
      fxFlex.md="30"
      fxFlex.lg="30"
      fxFlex.xl="20"
      fxLayout="row wrap"
      fxLayoutAlign="start start"
    >
      <h2 fxFlex="100">روابط مباشرة</h2>

      <div fxFlex="100" class="line" fxLayout="row" fxLayout="center center">
        <div fxFlex class="orange"></div>
        <div fxFlex="60" class="gray"></div>
      </div>

      <div fxFlex="100" fxLayout="row" fxFlexAlign="start center">
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="start start">
          <a
            fxFlex="100"
            [ngStyle.lt-xl]="{ 'font-size.px': 20, 'heigh.px': 30 }"
            routerLink="/ourService"
            >من نحن</a
          >
          <a
            fxFlex="100"
            [ngStyle.lt-xl]="{ 'font-size.px': 20, 'heigh.px': 30 }"
            routerLink="/contacts"
            >اتصل بنا</a
          >
          <a
            fxFlex="100"
            [ngStyle.lt-xl]="{ 'font-size.px': 18, 'heigh.px': 30 }"
            href="#"
            >كيفية ارسال شحنتك</a
          >
          <a
            fxFlex="100"
            [ngStyle.lt-xl]="{ 'font-size.px': 20, 'heigh.px': 30 }"
            href="#"
            >أسئلة شائعة</a
          >
        </div>
        <div fxFlex="40" fxLayout="column" fxLayoutAlign="start start">
          <a
            fxFlex="100"
            [ngStyle.lt-xl]="{ 'font-size.px': 14, 'heigh.px': 10 }"
            href="#"
            >تتبع شحنتك</a
          >
          <a
            fxFlex="100"
            [ngStyle.lt-xl]="{ 'font-size.px': 14, 'heigh.px': 10 }"
            href="#"
            >ايجاد نقطة خدمة</a
          >
        </div>
      </div>
    </div>

    <div
      class="links"
      fxFlex.sm="90"
      fxFlex.xs="90"
      fxFlex.md="30"
      fxFlex.lg="30"
      fxFlex.xl="20"
      fxLayout="row wrap"
      fxLayoutAlign="start start"
    >
      <h2 fxFlex="100">اتصل بنا</h2>

      <div fxFlex="100" class="line" fxLayout="row" fxLayout="center center">
        <div fxFlex class="orange"></div>
        <div fxFlex="60" class="gray"></div>
      </div>

      <div fxFlex="100" fxLayout="row" fxFlexAlign="start center">
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="start start">
          <a fxFlex="100" href="tel:+201030038605">01030038605</a>
          <a fxFlex="100" href="https://wa.me/+201063201017" target="_blank"
            >01063201017<i
              inline="true"
              class="fab fa-whatsapp-square"
              style="color: rgb(0, 189, 0); margin: 0 5px"
            ></i>
          </a>
          <a fxFlex="100" href="tel:+201204484386">01204484386</a>
          <!-- <a fxFlex="100">01098799835</a> -->
        </div>
        <div fxFlex="45" fxLayout="column" fxLayoutAlign="start start"></div>
      </div>
    </div>
  </div>

  <div
    class="copy"
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    dir="rtl"
  >
    <p fxFlex="30" fxFlex.xs="45">
      حقوق الملكية &copy; 2021 لدي <strong>(هاتلي وديلي)</strong>
    </p>
    <div class="div"></div>
    <p fxFlex="30" fxFlex.xs="45"><i class="fas fa-mug-hot"></i> Beta version</p>
    <div fxHide.lt-sm class="div"></div>
    <!-- <a fxFlex="10" fxFlex.xs="45" fxFlex.sm="30" href="#">الشروط والاحكام</a>
    <div class="div"></div>

    <a fxFlex="10" fxFlex.xs="45" fxFlex.sm="30" href="#">سياسة الخصوصية</a>
    <div class="div"></div>

    <a fxFlex="10" fxFlex.xs="45" fxFlex.sm="30" href="#">بيانات الشركة</a>
    <div class="div"></div>

    <a fxFlex="10" fxFlex.xs="45" fxFlex.sm="30" href="#">سياسة ملفات الارتباط</a>
    <div class="div"></div> -->
    <p class="developers" fxFlex="30" fxFlex.xs="45">
      <i class="fad fa-hands-heart"></i> Made By Hatly Wadely Team
    </p>
  </div>
</div>
