$color: #ff6e00;

.banner {
  height: 60vh;
  margin: 20px 0;
  .sideNav,
  .carousel,
  .ads {
    height: 100%;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
  }
  .sideNav {
    background-color: #ffff;
    .tap {
      height: 40px;
      font-size: 16px;
      padding: 10px;
      mat-icon {
        margin: 0 5px;
      }
    }
    .tap:hover {
      cursor: pointer;
      color: $color;
    }
  }
  //       style="position: relative; right: 1px; height: 370px; top: 22px"

  // just leave it alone (-_-)
  .carousel {
    background-color: #ffff;
    ::ng-deep {
      .p-galleria.p-galleria-indicator-onitem,
      .p-galleria-indicators {
        height: 30px;
        background-color: #32323238;
        li {
          height: 10px;
          width: 10px;
          button {
            height: inherit;
            width: inherit;
            margin: 0 5px;
          }
        }
      }
    }
  }
  .ads {
    .ad {
      height: 47%;
      border-radius: 4px;
      background-color: $color;
      img {
        max-height: 100%;
        min-height: 100%;
        border-radius: 4px;
        outline: none;
        border: none;
      }
    }
    .ad:hover,
    .ad:active {
      cursor: pointer;
    }
  }
  .filterBanner {
    position: relative;
    right: -20px;
    background-color: #ffffff;
  }
}


.offer-con {
  height: 280px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #ffffff;
  img {
    max-height: 100%;
    min-height: 100%;
    border-radius: 4px;
    outline: none;
    border: none;
  }
  .subOffer {
    height: 100%;
    border-radius: 4px;
    background-color: #6d5bbe;
    transition: 0.1s ease-in;
  }
  .subOffer:hover,
  .subOffer:checked {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 4px 4px rgba(212, 212, 212, 1);
    -moz-box-shadow: 0px 0px 4px 4px rgba(212, 212, 212, 1);
    box-shadow: 0px 0px 4px 4px rgba(212, 212, 212, 1);
  }
}

/*old style
.mainDiv {
  padding: 8px;
  font-weight: bold;
  font-size: 18px;
  direction: rtl;
  border: 1px solid#dddd;
  float: right;
  width: 15%;
  margin-top: 28px;
  height: 75%;
  text-align: initial;
  border-radius: 10px;
}

.filterDiv {
  font-weight: bold;
  text-align: center;
  float: right;
  display: inline;
  margin-top: 28px;
  border-radius: 10px;
  background-color: #faf6f6;
  border: 1px solid rgb(212, 206, 206);
  width: 185px;
  height: 250px;
}
.row > * {
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
  height: 100px;
  border-radius: 10px;
}
.h4,
h4 {
  font-size: 22px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 13px;
  font-weight: normal;
}
#jumiaPic {
  width: 678px;
  height: 380px;
  margin-top: 28px;
  border-radius: 10px;
}
#bankImg {
  margin-top: 28px;
  border-radius: 10px;
  width: 226px;
}
#bankImgg {
  border-radius: 10px;
  margin-top: 3px;
  width: 226px;
}
.ASIDE {
  width: 15%;
}
.namesHeader {
  padding-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.namesHeader:hover {
  font-size: larger;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-align: center;
}
#cardsBtn {
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  height: 195px;
  border-radius: 41px;
}
.card {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border: 0;
  font-weight: 200;
  height: 500px;
}

p[_ngcontent-scu-c455] {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 13px;
  font-weight: normal;
  height: 20px;
}
.Head {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  border-radius: 10px;
  margin-top: 10px;
}
element.style {
  display: inline-block;
  text-align: right;
  margin-bottom: 10px;
}
.maskImg1 {
  width: 480px;
  border-radius: 10px;
  height: 300px;
}
.maskImg2 {
  width: 480px;
  border-radius: 10px;
  height: 300px;
}
.offer1 {
  margin-bottom: 20px;
  height: 200px;
  width: 100%;
  border-radius: 10px;
}
.offer2 {
  margin-top: 112px;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
.maskImg1,
.maskImg2 {
  transition: all 0.4s ease-in-out;
}
.maskImg1:hover,
.maskImg2:hover {
  width: 500px;
}
.Foott {
  height: 429px;
  background-color: rgba(0, 0, 0, 0.637);
  color: white;
  border-radius: 10px;
}
#footerDiv {
  text-align: center;
  float: left;
  display: inline;
  height: 230px;
}
.footerPic {
  border-radius: 10px;
  height: 80px;
  margin-top: 10px;
  float: right;
  margin-right: 20px;
}
.myLinks {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.myLinks:hover {
  font-size: 18px;
}

.jm {
  height: 94px;
  float: right;
  width: 406px;
  border-radius: 10px;
}
.copy {
  float: left;
  margin-left: 20px;
  text-align: initial;
  font-size: 13px;
}
.info {
  height: 600px;
  background-color: rgb(230, 230, 230);
  margin-bottom: 15px;
  border-radius: 10px;
}
.info h3 {
  text-align: right;
}
::ng-deep .card .card-body .card-text {
  color: #747373;
  font-size: 0.9rem;
  height: 49px;
  font-weight: 400;
  line-height: 15px;
}
::ng-deep .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 52px;
}
::ng-deep {
  .img-fluid {
    max-width: 100%;
    height: 281px;
  }
}
.card[_ngcontent-gii-c455] {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border: 0;
  font-weight: 200;
  height: 444px;
}
::ng-deep .carousel .carousel-indicators li {
  width: 44px;
  height: 32px;
  border-radius: 48%;
  cursor: pointer;
  background-color: aqua;
  margin: 6px;
  height: 10px;
}
::ng-deep.fa,
::ng-deep .fas {
  font-family: "Font Awesome 5 Free";
  cursor: pointer;
  font-weight: 900;
}
::ng-deep mdb-card-img img.img-fluid {
  width: 100%;
  border-radius: 12px;
}
::ng-deep.card ::ng-deep .card-body ::ng-deep .card-text {
  color: #747373;
  font-size: 0.9rem;
  font-weight: 400;
  height: 45px;
}
#typee {
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.747);
  transition: all 0.3s ease-in-out;
}
#typee:hover {
  font-weight: bold;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}

.card-item {
  .card-item-content {
    border: 1px solid aqua;
    border-radius: 60px 15px;
    margin: 0.5rem;
    text-align: center;
    height: 470px;
    padding-top: 29px;
  }

  .card-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 80px;
    border-radius: 60px 15px;
    border: 1px solid aqua;
  }
}
#divCard {
  display: inline-block;
  text-align: right;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
#divCard:hover {
  animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.cardContent {
  width: 250px;
  border: 1px solid #ddd;
}
#cardBton {
  transition: all 0.3s ease-in-out;
  width: 90px;
  border: 1px solid red;
  background-color: beige;
  color: black;
}
#cardBton:hover {
  width: 130px;
  background-color: rgba(255, 255, 0, 0.5);
  color: black;
  border: 3px solid rgb(223, 206, 206);
  font-size: larger;
}
.card-item-content {
  transition: all 0.3s ease-in-out;
}
.card-item-content:hover {
  animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.socialPics {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 3px;
  transition: all 0.4s ease-in-out;
}
.socialPics:hover {
  width: 25px;
  height: 23px;
  margin: 4px;
}
*/
