<div class="container" style="margin-top:15px;">
  <div class="row">
    <div class="col-2" style="border: 1px solid red;" id="myDiv">
      <div class="container" style="margin-top:30px;">
        <div class="row" *ngIf="myProduct">
          <div class="col-3" style="border: 1px solid rgb(228, 182, 182);" id="myDiv">

      <h5>التوصيل والارجاع</h5>
      <hr>
      <p> <br> استمتع بشحن مجاني في جميع أنحاء مصر عند<br> إستخدام بطاقة الائتمان الخاصة بك في الدفع من خلال Jumia Pay
        على طلبات بقيمة 300 جنيه أو أكثر</p>
      <hr>
     <h5>اختار العنوان</h5>
     <div style="height: 352px" >
      <mat-form-field appearance="fill" class="formField">
        <mat-label class="myLabel">المحافظه</mat-label>
        <mat-select >
          <mat-option *ngFor="let myOption of options" [value]="myOption.region" (click)="pushInSelect(myOption)">
            {{myOption.region}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="formField">
        <mat-label class="myLabel">المدينه</mat-label>
      <mat-select class="mb-5">
        <mat-option  *ngFor="let item of myArray" [value]="item.place" (click)="onBlur()">
          {{item.place}}
        </mat-option>
      </mat-select >
      <div class="data" *ngIf="showDiv">
      <p style="text-align: center;"  *ngFor="let elem of myInfoArr" [class.blur]="blur">{{elem.data}}</p>
    </div>
    </mat-form-field>
</div>
      <h5>سياسه الاسترجاع</h5>
      <p><br> ضرورة الإبلاغ عنها فى غضون 24 ساعة من تاريخ الإستلام. <br> الشخصى) وحتي 30 يوم للمنتجات التالفة مع  <br> الملابس الداخلية ومنتجات الإستخدام <br> استرجاع المنتجات مجاناً لمدة 14 يوم (ماعدا </p>
    </div>

    <div class="col-md-6">
      <h3 style="text-align: right; margin-top: 20px;">{{myProduct?.detail}}</h3>
      <hr>
      <h4 style="text-align: center;">{{myProduct?.price}}</h4>
      <p style="text-align: center;" *ngIf="myProduct.rating">التقييــــــــــــــم</p>

      <button mat-button color="primary" style="width: 365px;margin-top: 10px;height: 35px;" class="bg-info" (click)="addToCart(myProduct)">{{myProduct?.button}}</button>
    </div>

      <div class="col-md-3">
        <img src="{{myProduct?.imgUrl}}">
      </div>
  </div>
</div>



