#myDiv h5 , #myDiv p  , option{
  text-align: right;
}
option:first-child{
	display: none;
  border-radius: 10px;
}
option {
  direction: rtl;
}

.myLabel {
  text-align: center;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0 0.75em 0;
  height: 45px;
  border-radius: 10px;
  margin-left: 15px;
}

::ng-deep .mat-form-field-underline {
  position: absolute;
  width: 100%;
  pointer-events: none;
  transform: scale3d(1, 1.0001, 1);
  margin-left: 15px;
}
::ng-deep .mat-form-field-flex {
  cursor: pointer;
  margin-left: 15px;
  border: 1px solid rgb(139, 138, 138);
    border-radius: 10px;
}

.blur {
  filter: blur(8px);

}
.data {
  background-color: #f5f5f5;
  border-radius: 10px;
  border-radius: 10px;
  height: 146px;
  position: relative;
  left: -37px;
  width: 248px;
}
.pepsiPic {
  position: relative;
    top: 112px;
    left: 10px;
    width: 777px;
    border-radius: 10px;
    height: 260px;
}
.offer {
  position: relative;
    top: 85px;
    width: 777px;
    height: 160px;
    border-radius: 10px;
}
.tit {
  text-align: right;
}
#imageCard {
  height: 100px;
  width: 100px;
  margin-left: 15px;
}
.example-card {
  height: 314px;
  border: 1px solid #ddd;
}
#btn {
  border-radius: 10px;
   border: 1px solid #ddd;
   margin-right: 5px;
   position: relative;
   left: -5px;
   width: 156px;
}
