mat-card {
  padding: 0;
  background-color: #ffff;
}
.carousel-container {
  min-height: 350px;
  max-height: 350px;

  // just leave it alone (-_-)
  .carousel {
    img {
      min-height: 350px;
      max-height: 350px;
    }
    ::ng-deep {
      .p-galleria.p-galleria-indicator-onitem,
      .p-galleria-indicators {
        height: 30px;
        background-color: #32323238;
        li {
          height: 10px;
          width: 10px;
          button {
            height: inherit;
            width: inherit;
            margin: 0 5px;
          }
        }
      }
    }
  }
}

.section {
  min-height: 280px;
  .header {
    height: 43px;
    font-weight: 500;
  }
  .item {
    position: relative;
    height: 220px;
    width: 195px;
    transition: 0.15s;
    text-decoration: none;
    color: black;
    img {
      height: 180px;
    }
  }
  .title {
    height: 40px;
  }

  .item:hover,
  .item:active {
    top: -2px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  }
}
