*:not(i, mat-icon) {
  font-family: "serif" !important;
}

.line {
  position: relative;
  bottom: 0;
  display: inline;
  .gray {
    height: 0.5px;
    background-color: rgb(179, 176, 176);
    border-radius: 30px;
  }
  .orange {
    height: 2.5px;
    background-color: #ff6e00;
  }
}

.banner {
  max-height: 400px;
  background-color: white;
  img {
    height: 400px;
    max-width: 100%;
  }
}

.contacts {
  min-height: 300px;
  background-color: #e4e4e4;
  font-family: "serif" !important;

  h1 {
    text-align: center;
    color: #ff6e00;
  }

  .phone {
    min-height: 150px;
    h2 {
      text-align: center;
    }
    .number {
      border-right: 3px solid #ff6e00;

      a {
        margin: 0 30px;
        text-decoration: none;
        font-size: 24px;
        color: rgb(23 39 85 / 87%);
      }
    }
  }
  .social {
    min-height: 100px;
    h2 {
      border-right: 3px solid #ff6e00;
      padding: 0 30px;
    }

    .icons {
      a {
        position: relative;
        height: 25px;
        margin: 20px;
        display: inline-block;
        justify-content: center;
        transition: all 0.2s ease-in-out;
      }
    }
    a:hover {
      top: -3px;
    }
  }

  button {
    background-color: #dc6206;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: "serif";
    padding: 15px;
    width: 200px;
    margin: 0 10px 10px 10px;
    transition: all 0.1s ease-in-out;
  }

  button:hover {
    background-color: transparent;
    color: #dc6206;
    border: 5px solid #ff6e00;
    font-size: large;
    font-weight: bold;
    font-family: "serif";
    padding: 15px;
    width: 200px;
    margin: 0 10px 10px 10px;
  }
}
