$color: #ff6e00;

.banner {
  height: 60vh;
  margin: 20px 0;
  .sideNav,
  .carousel,
  .ads {
    height: 100%;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
  }
  .sideNav {
    background-color: #ffff;
    .tap {
      height: 40px;
      font-size: 16px;
      padding: 10px;
      mat-icon {
        margin: 0 5px;
      }
    }
    .tap:hover {
      cursor: pointer;
      color: $color;
    }
  }
  //       style="position: relative; right: 1px; height: 370px; top: 22px"

  // just leave it alone (-_-)
  .carousel {
    background-color: #ffff;
    ::ng-deep {
      .p-galleria.p-galleria-indicator-onitem,
      .p-galleria-indicators {
        height: 30px;
        background-color: #32323238;
        li {
          height: 10px;
          width: 10px;
          button {
            height: inherit;
            width: inherit;
            margin: 0 5px;
          }
        }
      }
    }
  }
  .ads {
    .ad {
      height: 47%;
      border-radius: 4px;
      background-color: $color;
      img {
        max-height: 100%;
        min-height: 100%;
        border-radius: 4px;
        outline: none;
        border: none;
      }
    }
    .ad:hover,
    .ad:active {
      cursor: pointer;
    }
  }
  .filterBanner {
    position: relative;
    right: -20px;
    background-color: #ffffff;
  }
}

.offer-con {
  height: 280px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #ffffff;
  img {
    max-height: 100%;
    min-height: 100%;
    border-radius: 4px;
    outline: none;
    border: none;
  }
  .subOffer {
    height: 100%;
    border-radius: 4px;
    background-color: rgb(109, 91, 190);
    transition: 0.1s ease-in;
  }
  .subOffer:hover,
  .subOffer:checked {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 4px 4px rgba(212, 212, 212, 1);
    -moz-box-shadow: 0px 0px 4px 4px rgba(212, 212, 212, 1);
    box-shadow: 0px 0px 4px 4px rgba(212, 212, 212, 1);
  }
}

@media screen and (max-width: 600px) {
  .banner {
    height: 40vh;
  }
}
