.main-cont {
  padding: 10px;
}
.mat-tab-group {
  margin-bottom: 48px;
}

.cont {
  min-height: 400px;
  .no-order {
    min-height: 250px;
    width: 500px;
    img {
      height: 100px;
      width: 100px;
    }
  }
}
