#cardsss {
  margin-top: 15px;
}
.cardImg:hover {
  animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


.cardsBtn {
  width: 180px;
  border-radius: 10px;
  text-align: center;margin-left: 44px; height: 45px;color: white;
  transition: all .3s ease-in-out;
}
.cardsBtn:hover {
width: 200px;
}
#form {
  width: 300px;
  margin-left:10px ;
}
#inp {
  text-align: right;
}
#jumPic {
  height: 68px;
  width: 561px;
  margin-top: 10px;
}
