 <div class="container">
  <div class="row">
    <div class="col-md-5">
      <form class="form-group" id="form">
              <label for="name"></label>
              <input id="inp" class="form-control" type="text" name="filter your Products" placeholder="قم بتصفيه المنتجات" [(ngModel)]="listFilter" >
      </form>
      </div>
      <div class="col-md-7">
        <img id="jumPic" src="assets/images/images/myJum.png">
      </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div *ngFor="let myProduct of filteredProducts " id="cardsss" class="col-md-4">
      <mat-card style="border: 1px solid aqua; border-radius: 10px;">
        <img mat-card-image src=" {{myProduct.imgUrl}}"  [routerLink]="[myProduct.id]" style="cursor: pointer;" class="cardImg"/>
        <mat-card style="border : 1px solid aqua">
          <mat-card-content style="height: 40px;">
            <p style="text-align: center; height: 17px;">{{myProduct?.detail}}</p>
          </mat-card-content>
          <mat-card-content>
            <p style="text-align: center; height: 25px;">{{myProduct.price}}</p>
          </mat-card-content>
          <button   class="cardsBtn bg-info" mat-button
            (click)="cartPlus(myProduct)">{{myProduct.button}}</button>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>
