.item {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  .sale-con {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
    z-index: 55;
    .sale {
      height: 30px;
      min-width: 50px;
      font-size: 15px;
      font-weight: 500;
      direction: ltr;
      color: #f68b1e;
      background-color: #feefde;
    }
  }
  .name {
    font-size: 1rem;
  }
  .prc {
    font-size: 1rem;
  }
  .disc {
    text-decoration: line-through;
    font-size: 0.89rem;
    font-weight: 100;
  }
  img {
    object-fit: cover;
  }
}
