<div
  *ngIf="category$ | async as _category"
  fxLayout="row wrap"
  fxLayoutAlign="center start"
  style="height: auto; background-color: whitesmoke"
  dir="rtl"
>
  <div fxFlex="80" fxFlex.xs="90" fxLayout="column" fxLayoutAlign="center stretch">
    <br />
    <br />
    <div
      class="carousel-container"
      [ngStyle.xs]="{ 'min-height.px': 200, 'max-height.px': 200 }"
    >
      <div class="carousel mat-elevation-z1" fxLayout="column" fxLayoutAlign="stretch">
        <p-galleria
          [value]="_category.bannerImages"
          [responsiveOptions]="responsiveOptions"
          [containerStyle]="{ width: '100%' }"
          [numVisible]="5"
          [autoPlay]="true"
          [circular]="true"
          [showItemNavigators]="true"
          [showThumbnails]="false"
          [showIndicators]="true"
          [showItemNavigatorsOnHover]="true"
          [showIndicatorsOnItem]="true"
        >
          <ng-template pTemplate="item" let-item>
            <img
              [src]="item.imgUrl"
              style="width: 100%; display: block"
              [ngStyle.xs]="{ 'max-height.px': 200, 'min-height.px': 200 }"
            />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="p-grid p-nogutter p-justify-center">
              <img
                [src]="item.imgUrl"
                style="display: block"
                [ngStyle.xs]="{ 'max-height.px': 200, 'min-height.px': 200 }"
              />
            </div>
          </ng-template>
        </p-galleria>
      </div>
    </div>
    <br />
    <mat-card
      *ngFor="let section of mainSection"
      class="section"
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="10px"
    >
      <div class="header b-r-5" fxLayoutAlign="center center">
        <!-- header -->
        {{ section.name }}
      </div>
      <div
        class="items p-r-4 p-l-4"
        fxLayout="row wrap"
        fxLayoutAlign="start center"
        fxLayoutAlign.xs="center center"
        fxLayoutGap="5px"
      >
        <!-- router here -->
        <a
          *ngFor="let pType of section.mainSections"
          class="item b-r-3"
          fxLayout="column"
          fxLayoutAlign="center stretch"
          [ngStyle.xs]="{ 'height.px': 150, 'width.px': 130 }"
        >
          <img
            class="b-r-3"
            [ngStyle.xs]="{ 'height.px': 120 }"
            src="{{ pType?.imgUrl }}"
            alt=""
          />
          <div
            class="title b-r-3"
            [ngStyle.xs]="{ 'height.px': 30 }"
            fxLayoutAlign="center center"
          >
            <!-- title -->
            {{ pType?.title }}
          </div>
        </a>
      </div>
    </mat-card>
    <br />
    <div
      *ngFor="let secondSection of secondSections"
      class="best-seller b-r-3 mat-elevation-z1"
      fxLayout="row wrap"
      fxLayoutAlign="center start"
      style="margin-top: 15px"
    >
      <div class="title" fxFlex="100" fxLayoutAlign="start center">
        {{ secondSection.name }}
      </div>

      <p-carousel
        fxFlex="100"
        [value]="secondSection.secondSection"
        [numVisible]="5"
        [numScroll]="5"
        [circular]="true"
        [autoplayInterval]="6000"
        [responsiveOptions]=""
        dir="ltr"
      >
        <ng-template let-product pTemplate="item">
          <div
            class="image-pic-carousel"
            fxLayout="row wrap"
            fxLayoutAlign="center start"
          >
            <!-- router here -->

            <item fxFlex="97" [item]="product" [routerLink]="[secondSection.id ,product.id]"></item>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
