<div
  class="sub-header mat-elevation-z2"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  #content
>
  <div fxLayout="row wrap" fxFlex.xs="90">
    <a fxLayoutAlign="center center" (click)="op2.toggle($event)">
      <mat-icon>menu</mat-icon>
    </a>
    <p-overlayPanel
      #op2
      appendTo="body"
      [autoZIndex]="true"
      [showCloseIcon]="false"
      [style]="{
        'width': '240px',
        'padding': '0px !important',
        'border-radius': '5px'
      }"
    >
      <ng-template pTemplate fxLayout="column" fxLayoutAlign="start stretch">
        <div
          class="tap"
          fxLayout="row"
          fxLayoutAlign="end center"
          *ngFor="let category of categories"
          [routerLink]="[category.id]"
          (click)="op2.hide()"
        >
          <!-- Enter icon -->
          {{ category.name }}
          <img class="svg-icon" src="{{ category.icon }}" />
        </div>
      </ng-template>
    </p-overlayPanel>

    <span
      class="p-input-icon-left"
      fxLayout="row wrap"
      fxFlex.xs="80"
      [ngStyle.lt-md]="{ width: '250px' }"
      [ngStyle.xs]="{ margin: '10px 0' }"
    >
      <i
        class="pi pi-search"
        style="cursor: pointer"
        [ngStyle]="searchInput.value ? { color: 'red' } : { color: 'gray' }"
      ></i>
      <input
        #searchInput
        pInputText
        type="text"
        placeholder="البحث عن المنتجات والعلامات التجارية والاقسام"
        [value]="search"
        (keydown.enter)="onSearch(searchInput.value)"
      />
    </span>
  </div>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxFlex.xs="100"
    [ngStyle.xs]="{ margin: '20px 0' }"
  >
    <button
      class="button1"
      mat-button
      fxLayoutAlign="center center"
      routerLink="/shop/login"
    >
      <mat-icon>account_circle</mat-icon>
      تسجيل الدخول
    </button>
    <button
      class="button1 cart"
      mat-button
      fxLayout="row wrap"
      fxLayoutAlign="center center"
    >
      <span class="num" fxFlex="100">15</span>
      <div fxFlex="100" fxLayoutAlign="center center">
        <mat-icon>shopping_cart</mat-icon>
        عربه التسوق
      </div>
    </button>
  </div>
</div>
<div class="body-container" fxLayout="row wrap" fxLayoutAlign="center start" dir="rtl">
  <div
    fxFlex="80"
    fxFlex.md="90"
    fxFlex.xs="95"
    fxLayout="column"
    fxLayoutAlign="center stretch"
  >
    <router-outlet></router-outlet>
  </div>
</div>
