$color: #ff6e00;
.body-container {
  min-height: 100%;
  width: 100%;
  background-color: whitesmoke;
}
.tap {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 !important;
}
.tap:hover {
  cursor: pointer;
  color: $color;
  background-color: whitesmoke;
}

.sub-header {
  position: sticky;
  top: 0;
  z-index: 99;
  min-height: 72px;
  width: 100%;
  padding: 0;
  direction: rtl;
  background-color: #ffff;
  a {
    margin-left: 20px;
  }
  ::ng-deep {
    .p-inputtext {
      height: 45px;
      width: 400px;
      text-align: start;
    }
  }
  .cart {
    span {
      height: 20px;
      color: $color;
    }
  }
}

::ng-deep .menu.mat-menu-panel {
  min-width: 195px;
  direction: rtl !important;
  button.mat-menu-item {
    padding: 0 !important;
  }
  .mat-menu-item .mat-icon {
    margin: 0 5px !important;
  }
}

@media screen and (max-width: 600px) {
  ::ng-deep .menu.mat-menu-panel {
    min-width: 170px;
  }
}
