.video {
  height: 450px;
  width: 100%;
  background-image: url("../../../../../assets/images/home-post-shippment-bg.jpg");
  background-size: cover;
  video {
    height: 350px;
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid #ff6e00;
  }
}
.line {
  margin: 20px 20px;
  display: inline;
  .gray {
    height: 0.5px;
    background-color: rgb(179, 176, 176);
    border-radius: 30px;
  }
  .orange {
    height: 2.5px;
    background-color: #ff6e00;
  }
}

.paragraph {
  min-height: 400px;
  background-color: #e4e4e4;
  font-family: "serif" !important;

  h1 {
    text-align: center;
    color: #ff6e00;
  }

  .points {
    max-width: inherit;
    font-family: "serif";
    text-align: justify;
    p {
      font-size: 22px;
      text-align: center;
      span {
        font-weight: bold;
      }
    }
    .firstFree {
      color: #ff6e00;
    }
    // .firstFree:hover {
    //   cursor: pointer;
    // }
  }

  .register {
    margin: 30px auto;
  }
  button {
    background-color: #dc6206;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: "serif";
    padding: 15px;
    width: 300px;
    margin: 10px 10px 10px 10px;
    transition: all 0.1s ease-in-out;
  }

  button:hover {
    background-color: transparent;
    color: #dc6206;
    border: 5px solid #ff6e00;
    font-size: large;
    font-weight: bold;
    font-family: "serif";
    padding: 15px;
    width: 300px;
    margin: 0 10px 10px 10px;
  }
}

.button-valid {
  background-color: #ff6e00;
}

.registerForm mat-card {
  border: 2px dashed #ff6e00;
  mat-form-field {
    font-size: 14px !important;
    line-height: 14px !important;
    font-family: "serif" !important;
  }
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
.registerForm ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ff6e00 !important;
}

.footer {
  min-height: 350px;
  margin-top: 30px;
  padding: 0;
  background-image: url("../../../assets/images/footer-map.png");
  background-color: #383838;
  display: inline-block;
  font-family: "serif" !important;

  .line {
    margin: 0 0 20px 60px;
    display: inline;
    .gray {
      height: 2.5px;
      background-color: #a5a4a4;
      border-radius: 30px;
    }
    .orange {
      height: 2.5px;
      background-color: #ff6e00;
    }
  }

  .logo {
    height: 300px;
    color: #a5a4a4;
    img {
      height: 80px;
    }
    .icons {
      a {
        position: relative;
        height: 25px;
        margin: 20px;
        display: inline-block;
        justify-content: center;
        transition: all 0.2s ease-in-out;
      }
    }
    a:hover {
      top: -5px;
    }
  }

  .links {
    height: 300px;
    color: #a5a4a4;
    a {
      color: #a5a4a4;
      text-decoration: none;
      font-size: 23px;
      height: 40px;
      transition: all 0.3s ease-in-out;
    }
    a:hover {
      color: white;
    }
  }
}

.copy {
  min-height: 70px;
  background-color: #272727;
  font-family: "serif" !important;
  p {
    color: #a5a4a4;
    font-size: 14px;
  }
  .div {
    height: 20px;
    width: 1.5px;
    background-color: #a5a4a4;
    margin: 0 5px;
  }
  a {
    font-size: 16px;
    color: #a5a4a4;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: white;
  }
  .developers {
    color: #a5a4a4;
    font-size: 12px;
    mat-icon {
      width: 20px;
      height: 20px;
    }
  }
}
