$color: #f68b1e;
$img-size: 150px;
.main-cont {
  padding: 10px;
}
.mat-tab-group {
  margin-bottom: 48px;
}
.saved-prod {
  min-height: 150px;
  border: 0.4px solid rgb(228, 228, 228);
  border-radius: 5px;
  img {
    min-height: $img-size;
    max-height: $img-size;
    min-width: $img-size;
    max-width: $img-size;
    object-fit: contain;
  }
  .dis {
  }
  .pay {
    margin: 10px 20px;
  }
}
.cont {
  min-height: 400px;

  .no-order {
    min-height: 250px;
    width: 500px;
    img {
      height: 100px;
      width: 100px;
    }
  }
}
