body {
  scroll-behavior: smooth;
}

.bannerDiv {
  background-image: url("../../../../../assets/images/delivery-man-holding-paper-bag-and-showing-thumb-up-in-red-uniform.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;

  h1 {
    text-align: center;
    color: rgb(0 0 0 / 56%);
    font-weight: bold;
    font-family: "serif";
  }
  p {
    text-align: center;
    color: white;
    font-family: "serif";
    font-weight: bold;
  }
  button {
    background-color: #dc6206;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: "serif";
    padding: 10px;
    width: 150px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
  }
  button:hover {
    background-color: transparent;
    color: #fff;
    border: 5px solid white;
    font-size: 22px;
    font-weight: bold;
    font-family: "serif";
    padding: 15px;
    width: 200px;
  }

  .login {
    button {
      background-color: rgb(0 0 0 / 14%);
      border: 5px solid #dc6206;
      color: white;
      font-size: large;
      font-weight: bold;
      font-family: "serif";
      padding: 5px 10px;
      width: 325px;
      transition: all 0.3s ease-in-out;
    }
    button:hover {
      background-image: linear-gradient(to right, #ff512f 0%, #f09819 51%, #ff512f 100%);
      background-size: 200% auto;
      background-position: right center;
      border: none;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      font-family: "serif";
      padding: 10px 15px;
      width: 350px;
    }
  }
}

.serviceDiv {
  font-family: "serif";
  margin-top: 20px;
  background-color: #f5f5f5;
  a {
    .button {
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      margin: 3px;
      border-radius: 2px solid #c6cdd3;
      p {
        text-align: center;
        text-decoration: none;
        color: rgb(97, 49, 49);
        font-weight: bold;
      }
    }
  }
  .button:hover {
    background-color: #c6cdd3;
  }
}

.serviceDesc {
  min-height: 230px;
  font-family: "serif";
  margin-top: 20px;
  background-color: #f5f5f5;
  h3 {
    margin-right: 30px;
    color: #ff6e00;
  }
  p {
    margin-right: 30px;
    font-weight: bold;
  }
  .button {
    margin: 15px;
  }
  .button:checked {
    border: none;
  }
  button {
    border: 1px solid #ff6e00;
    color: #dc6206;
    background-color: transparent;
    font-size: large;
  }
  button:hover {
    background-color: #ff6e00;
    color: #ffffff;
  }
}

.sendService {
  margin: 20px auto;
  width: 100%;
  height: 450px;
  background-image: url("../../../../../assets/images/home-post-shippment-bg.jpg");
  background-size: cover;
  background-repeat: none;

  .banner {
    height: 75%;
    border-bottom: 5px solid #ff6e00;
    h1,
    h2,
    p {
      color: #ff6e00;
      text-align: center;
      font-family: "serif" !important;
    }
    p,
    h2 {
      color: black;
      strong {
        cursor: pointer;
      }
    }
  }

  button {
    background-color: #dc6206;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: "serif";
    padding: 15px;
    width: 200px;
    margin: 0 10px 10px 10px;
    transition: all 0.1s ease-in-out;
  }

  button:hover {
    background-color: transparent;
    color: #dc6206;
    border: 5px solid #ff6e00;
    font-size: large;
    font-weight: bold;
    font-family: "serif";
    padding: 15px;
    width: 200px;
    margin: 0 10px 10px 10px;
  }
}

.onlineOrder {
  font-family: "serif" !important;
  font-weight: bold;
  h3 {
    color: #ff6e00;
    text-align: right;
    font-weight: bold;
  }
}

.example-list {
  width: 500px;
  max-width: 100%;
  margin-top: 10px;
  border: solid 4px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  background: url("../../../../../assets/images/3699591.jpg") no-repeat;
  background-position: 100%;
  background-size: contain;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  background-color: #f7dcc7;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  mat-icon {
    color: #ff6e00;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}
.example-box:hover {
  transition: ease-in-out;
  background-color: #f7a261;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  mat-icon {
    color: black;
  }
}

.line {
  margin: 50px 20px;
  display: inline;
  .gray {
    height: 0.5px;
    background-color: rgb(179, 176, 176);
    border-radius: 30px;
  }
  .orange {
    height: 2.5px;
    background-color: #ff6e00;
  }
}

.whyChooseUsDiv {
  font-weight: bold;
  font-family: "serif";
  h1 {
    color: #ff6e00;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.advantageDiv {
  font-family: "serif" !important;
  h3,
  p {
    text-align: center;
    font-weight: bold;
  }
  img {
    min-height: 30px;
    min-width: 30px;
    border: 2px solid #ff6e00;
  }
}

.advantageDivXs {
  font-family: "serif" !important;
  border: 0.5px solid rgb(218, 218, 218);
  border-radius: 5px;
  background-color: rgb(218, 218, 218);
  margin-top: 10px;
  h4,
  p {
    text-align: center;
    font-weight: bold;
  }
  img {
    margin-top: 10px;
    border-radius: 2px solid #ff6e00;
  }
}

.toTop {
  position: fixed;
  bottom: 15px;
  right: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 5;
  transition: all 0.2s ease-in-out;
  background-color: rgba(245, 245, 245, 0.851);
  i {
    position: relative;
    counter-reset: rgba(204, 204, 204, 0.701);
    font-size: 20px;
  }
}

.toTop:hover {
  cursor: pointer;
  background-color: #a3a8be;
  i {
    top: -10px;
    color: white;
  }
}
