<mat-nav-list
  fxFill
  class="side-container"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  dir="rtl"
>
  <div
    class="header p-l-15 p-r-15"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutAlign.xs="space-between center"
  >
    <a fxLayoutAlign="center center" (click)="onSidenavClose()">X</a>

    <div
      class="logo"
      fxLayout="row"
      fxLayoutAlign="center center"
      (click)="onSidenavClose()"
      routerLink="/shop"
    >
      <span class="word">هاتلي</span>
      <span class="num">9</span>
      <span class="word">وديلي</span>
    </div>

    <a style="opacity: 0" fxLayoutAlign="center center" routerLink="/shop">X</a>
  </div>

  <hr class="hr-1" />
  <div class="p-l-15 p-r-15" fxLayout="column" fxLayoutAlign="start stretch">
    <a
      class="subTitle"
      (click)="onSidenavClose()"
      routerLink="/shop/profile"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      >حسابي علي هاتلي
      <mat-icon>chevron_left</mat-icon>
    </a>
    <a
      *ngFor="let tap of profileTaps"
      (click)="onSidenavClose()"
      routerLink="{{ tap.router }}"
      class="tap"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <mat-icon>{{ tap.icon }}</mat-icon>
      {{ tap.title }}
    </a>
  </div>

  <hr class="hr-1" />
  <div class="p-l-15 p-r-15" fxLayout="column" fxLayoutAlign="start stretch">
    <a
      class="subTitle"
      (click)="onSidenavClose()"
      routerLink="/shop/profile"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      >اقسامنا
      <a style="text-decoration: underline">عرض الكل</a>
    </a>

    <a
      *ngFor="let tap of categoryLinks"
      (click)="onSidenavClose()"
      routerLink="{{ tap.router }}"
      class="tap"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <mat-icon>{{ tap.icon }}</mat-icon>
      {{ tap.title }}
    </a>
  </div>

  <hr class="hr-1" />
  <div class="p-l-15 p-r-15" fxLayout="column" fxLayoutAlign="start stretch">
    <a
      class="subTitle"
      (click)="onSidenavClose()"
      routerLink="/shop/profile"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      >خدمتنا
    </a>

    <a
      *ngFor="let tap of staticLinks"
      (click)="onSidenavClose()"
      routerLink="{{ tap.router }}"
      class="tap"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <mat-icon>{{ tap.icon }}</mat-icon>
      {{ tap.title }}
    </a>
  </div>

  <hr class="hr-1" />
  <div fxLayoutAlign="center center">
    <button class="button-2" mat-button style="color: #f68b1e" (click)="logOut()">
      تسجيل الخروج
    </button>
  </div>
</mat-nav-list>

<!--

  <div
    *ngIf="loggedIn"
    class="profile-container"
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <div class="photo" fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-icon inline="true">account_circle</mat-icon>
    </div>
    <h4 fxFlex="100">
      <span>{{ "welcome" | translate }}</span>
      {{ userName | casedName }}
    </h4>
  </div>
  <div
    *ngIf="!loggedIn"
    class="notLoggedYet"
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <span>هاتلي</span>
    <img fxFlex="30" src="../../../assets/images/loginBanner.gif" title="هاتلي و وديلي" />
    <span>وديلي</span>
  </div>
  <a
    class="link"
    mat-list-item
    fxFlex="100"
    *ngFor="let link of links"
    routerLink="{{ link.location }}"
    (click)="onSidenavClose()"
  >
    <mat-icon>{{ link.icon }}</mat-icon>
    <span class="nav-caption">{{ link.disc }}</span>
  </a>
  <a *ngIf="loggedIn" class="logOut" fxFlex="100" fxLayout="row" (click)="logOut()">
    <mat-icon>logout</mat-icon>
    <span>تسجيل الخروج</span>
  </a>
 -->
