<mat-nav-list
  fxFill
  class="side-container"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  dir="rtl"
>
  <div
    class="header p-l-15 p-r-15"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutAlign.xs="space-between center"
  >
    <a fxLayoutAlign="center center" (click)="onSidenavClose()">X</a>

    <div
      class="logo"
      fxLayout="row"
      fxLayoutAlign="center center"
      (click)="onSidenavClose()"
      routerLink="/shop"
    >
      <span class="word">هاتلي</span>
      <span class="num">9</span>
      <span class="word">وديلي</span>
    </div>

    <a style="opacity: 0" fxLayoutAlign="center center" routerLink="/shop">X</a>
  </div>

  <hr class="hr-1" />
  <div class="p-l-15 p-r-15" fxLayout="column" fxLayoutAlign="start stretch">
    <a
      class="subTitle"
      (click)="onSidenavClose()"
      routerLink="/shop/profile"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      >حسابي علي هاتلي
      <mat-icon>chevron_left</mat-icon>
    </a>
    <a
      *ngFor="let tap of profileTaps"
      (click)="onSidenavClose()"
      routerLink="{{ tap.router }}"
      class="tap"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <mat-icon>{{ tap.icon }}</mat-icon>
      {{ tap.title }}
    </a>
  </div>

  <hr class="hr-1" />
  <div class="p-l-15 p-r-15" fxLayout="column" fxLayoutAlign="start stretch">
    <a
      class="subTitle"
      (click)="onSidenavClose()"
      routerLink="/shop/profile"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      >اقسامنا
      <a style="text-decoration: underline">عرض الكل</a>
    </a>

    <a
      *ngFor="let tap of categoryLinks"
      (click)="onSidenavClose()"
      routerLink="{{ tap.router }}"
      class="tap"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <mat-icon>{{ tap.icon }}</mat-icon>
      {{ tap.title }}
    </a>
  </div>

  <hr class="hr-1" />
  <div class="p-l-15 p-r-15" fxLayout="column" fxLayoutAlign="start stretch">
    <a
      class="subTitle"
      (click)="onSidenavClose()"
      routerLink="/shop/profile"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      >خدمتنا
    </a>

    <a
      *ngFor="let tap of staticLinks"
      (click)="onSidenavClose()"
      routerLink="{{ tap.router }}"
      class="tap"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <mat-icon>{{ tap.icon }}</mat-icon>
      {{ tap.title }}
    </a>
  </div>

  <hr class="hr-1" />
  <div fxLayoutAlign="center center" class="m-b-8">
    <button class="button-2" mat-button style="color: #f68b1e" (click)="logInOut()">
      {{ isAuthenticated ? "تسجيل الخروج" : "تسجيل الدخول" }}
    </button>
  </div>
</mat-nav-list>
