$color: #f68b1e;
*:not(mat-icon) {
  font-family: "serif" !important;
}
mat-nav-list {
  background-color: #ffffff;
  min-height: 100%;
  overflow-y: scroll;
  .header {
    height: 50px;
    a {
      height: 40px;
      width: 40;
      font-size: 35px;
      border-radius: 50%;
      text-decoration: none;
      color: #000000;
    }
    .logo {
      outline: none;
      height: inherit;
      .word {
        font-size: 25px;
      }
      .num {
        font-size: 35px;
        margin: 0 5px;
        color: $color;
        font-weight: bolder;
      }
    }
  }
  .subTitle {
    margin: 5px 0;
    font-size: 0.75rem;
    color: $color;
  }
}

.tap {
  height: 30px;
  margin: 5px 0;
  font-size: 15px;
  mat-icon {
    height: 23px;
    width: 23px;
    font-size: 23px;
    margin: 0 10px;
  }
}
