// ورب الكعبة ال هيقرب من الفيل دا ... ✊✊✊
*:not(i, mat-icon) {
  background-color: white;
}

mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
}
.global-container {
  height: calc(100% - 60px) !important;
}
//  toolbar
app-toolbar {
  position: relative;
  width: 100%;
  height: 60px;
  z-index: 999;
}
main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // overflow: auto;
}
@font-face {
  font-family: "serif";
  font-style: normal;
  font-weight: 400;
  src: url("../../../assets/fonts/jzoor/JF-Flat-regular.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "JalalLight";
  font-style: normal;
  font-weight: 400;
  src: url("../../../assets/fonts/jalal/JalalLTLight.otf");
}

.line {
  width: 100%;
  display: inline;
  .gray {
    height: 1.5px;
    background-color: rgb(179, 176, 176);
    border-radius: 30px;
  }
  .orange {
    height: 1.5px;
    background-color: #ff6e00;
  }
}
// main content

// spinner
.spinner {
  position: absolute;
  z-index: 50;
  margin: 250px 50% 300px 50%;
}

mat-sidenav {
  position: absolute;
  top: 0;
  background-color: #f1f1f1;
  // mat-toolbar {
  //   height: 60px;
  //   width: 100%;
  //   background-color: white;
  //   img {
  //     width: 80px;
  //     height: 60px;
  //   }
  // }
  side-nav {
    height: 100%;
  }
}
