<!-- Toolbar -->
<app-toolbar
  #target
  fxHide.xs
  class="mat-elevation-z3"
  (sidenavToggle)="sidenav.toggle()"
></app-toolbar>

<mat-sidenav-container
  class="global-container"
>
  <!-- side nav -->
  <mat-sidenav
    #sidenav
    position="end"
    role="navigation"
    class="mat-elevation-z10"
    dir="rtl"
  >
    <side-nav (SidenavClose)="sidenav.close()"></side-nav>
  </mat-sidenav>

  <mat-sidenav-content #content>
    <app-social-floating></app-social-floating>
    <!-- main content -->
    <main>
      <router-outlet></router-outlet>
    </main>

    <!-- fxHide.gt-lg fxHide-->
  </mat-sidenav-content>
</mat-sidenav-container>
