<div fxLayout="row wrap"class="cont"fxLayoutAlign="center" fxLayoutGap="10px">
  <div
    fxFlex="23"
    class="childDiv mat-elevation-z8 mt-3"
    fxFlex.xs="100"
    fxFlexAlign.xs="center"
  >
    <h5>التوصيل والارجاع</h5>
    <hr />
    <p class="info">
      <br />
      استمتع بشحن مجاني في جميع أنحاء مصر عند<br />
      إستخدام بطاقة الائتمان الخاصة بك في الدفع من خلال hatly على طلبات بقيمة 300 جنيه أو
      أكثر
    </p>
    <hr />
    <h5>اختار العنوان</h5>
    <div fxLayoutAlign="center center">
      <mat-form-field appearance="fill" class="formField" fxFlex="97">
        <mat-label class="myLabel">المحافظه</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let myOption of options"
            [value]="myOption.region"
            (click)="pushInSelect(myOption)"
          >
            {{ myOption.region }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="center center">
      <mat-form-field appearance="fill" class="formField" fxFlex="97">
        <mat-label class="myLabel">المدينه</mat-label>
        <mat-select class="mb-5">
          <mat-option
            *ngFor="let item of myArray"
            [value]="item.place"
            (click)="onBlur()"
          >
            {{ item.place }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="data" *ngIf="showDiv">
      <p style="text-align: center" *ngFor="let elem of myInfoArr" [class.blur]="blur">
        {{ elem.data }}
      </p>
    </div>
    <div>
      <h5>سياسه الاسترجاع</h5>
      <p class="P">
        <br />
        ضرورة الإبلاغ عنها فى غضون 24 ساعة من تاريخ الإستلام. <br />
        الشخصى) وحتي 30 يوم للمنتجات التالفة مع <br />
        الملابس الداخلية ومنتجات الإستخدام <br />
        استرجاع المنتجات مجاناً لمدة 14 يوم
      </p>
    </div>
  </div>

  <div fxLayout="column" fxFlex="45" class="secondCont mt-3"  fxFlex.xs="100">
    <div>
    <p style="font-size: 22px; margin: 5px 5px;" fxFlex="90" fxFlex.xs="90">{{ product?.detail }}</p>
    <i class="far fa-heart" id="heartIcon"></i>
  </div>
    <div fxLayout="row" fxFlex="6" class="m-r-5" fxFlex.xs="20">
      <div fxFlex="20" >التقييــم</div>
      <app-star [rating]="product?.rating"></app-star>
    </div>
    <div fxLayoutAlign="start center">
      <p class="price" class="m-r-5">سعر المنتج {{ product?.price }} جنيه</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center stretch" >
      <button mat-raised-button color="primary" >اضافة الي السلة</button>
    </div>
  </div>

  <div fxFlex="25" class="thirdCont mt-3" fxLayout.xs="row" fxFlex.xs="95">
    <img fxFlex="100" style="height: 253px;border-radius: 10px;" src="{{ product?.imgUrl }}" title="صورة المنتج" />
  </div>

  <div fxFlex="95" fxLayoutAlign="center center" class="subOffer" fxLayout.xs="row" >
    <img fxFlex="100" ngClass.xs="myOfferPic" class="b-r-5" src="assets/images/images/summer.jpg" />
  </div>

  <div fxFlex="95" fxLayoutAlign="center center">
    <div
      fxFlex="100"
      style="
        background-color: white;
        height: 135px;
        border-radius: 5px;
      "
    >
      <h3 style="text-align: right">مواصفات المنتج</h3>
      <hr />
      <p fxLayoutAlign="start" style="font-size: 22px">{{ product?.detail }}</p>
    </div>
  </div>
</div>
