
<p-carousel [value]="images" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
[autoplayInterval]="3000" [responsiveOptions]="images">

<ng-template let-image pTemplate="item">
  <div class="product-item">
    <div class="product-item-content">
      <div class="p-mb-3">
        <img  src="{{image.img1}}" class="image-image" style="width: auto;"/>
      </div>
      <div>
      </div>
    </div>
  </div>
</ng-template>
</p-carousel>


<div style="margin-bottom: 70px;" *ngFor="let card of cards">
<div class="Head">
  <h2 *ngIf="card.button">{{card?.button}}</h2>
  <h2 *ngIf="card.name" style="text-align: right;">{{card?.name}}</h2>
</div>
<div style="display: inline-block;text-align: right;margin-bottom: 10px;" class="col-md-3"
  *ngFor="let product of card.myCards">
  <mat-card class="example-card m-3" >

    <img mat-card-image src=" {{product.imgUrl}}">
    <mat-card-content>
      <p class="cardP">
        {{product?.description}}
      </p>
    </mat-card-content>
    <mat-card-content>
      <p class="cardP">
        {{product?.title}}
      </p>
    </mat-card-content>
    <mat-card-content>
      <p class="cardP">
        {{product?.price}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
</div>




<div class="infoo" *ngIf="div1">
  <h3>
    مرحبًا بك في سوبر ماركت جوميا
  </h3>
  <p>
    تحاول جوميا دائمًا جعل حياتك أسهل ولذلك، فتحت جوميا سوبر ماركت اونلاين! فهو بمثابة سوق أو هايبر ماركت كبير فيه كل ما
    تحتاجه من مستلزمات المنزل، الاحتياجات الشخصية ومكونات الطعام. في سوبر ماركت جوميا، ستجد عروض وتخفيضات رائعة لا يمكنك
    الحصول عليها في اي ماركت اخر، بالاضافة الي امكانية الحصول علي جميع تجهيزات رمضان اون لاين والتي تشمل كرتونة رمضان و
    عروض رمضان المميزة، علي سبيل المثال. في جوميا ماركت، ستجد عدة اقسام للاحتياجات المختلفة؛ مستلزمات العناية بالطفل ،
    مستلزمات العناية بالبشرة والجسم ، الغسيل والمنظفات والمستلزمات المنزلية ، و المشروبات والاطعمة بالإضافة إلى مستلزمات
    الحيوانات الأليفة. يمكنك الآن التسوق بدون الحاجة إلى المعاناة في الازدحام الشديد. هذا بالإضافة إلى ان سوبر ماركت
    جوميا يضم العديد من الشركاء والماركات العالمية مثل بامبرز، سبينيز، جونسون، مولفيكس، ريجينا، هيرو بيبي، ريري، ايفا
    والكثير من الماركات الأخرى!
  </p>
  <h3>
    التسوق المنزلي من جوميا سوبر ماركت
  </h3>
  <p>
    على سوبر ماركت جوميا، يمكنك الحصول على كل احتياجاتك المنزلية مثل ادوات التنظيف، منظفات غسالة الاطباق والمنظفات
    الاخرى، مناديل المطبخ بافضل اسعار في مصر ومن افضل الماركات العالمية مثل هاربيك، ديتول، فينيش، فانيش، كما يمكنك أيضًا
    شراء فرش التنظيف، ممسحة الارضيات، ممسحة بخار، مناديل حمام أو اي نوع من انواع ادوات تنظيف المنزل. بالإضافة إلى ذلك،
    يمكنك الحصول على كل المشروبات والاطعمة مثل مكرونة، ارز، تونة، عصائر وجميع الاطعمة التي تحتاجها في منزلك. لا يوجد داع
    للقلق فلدينا جميع الماركات والاسعار مثل المصرية، ستار، فيتراك، والمزيد من ماركات الاغذية المعروفة.
  </p>
  <h3>
    جوميا ماركت، يعتني بك وبطفلك
  </h3>
  <p>
    يعتني سوبر ماركت جوميا بك وبطفلك ولذلك يضم هايبر ماركت جوميا، يمكنك ايجاد قسم كامل لمستلزمات الاطفال مثل حفاضات،
    شامبو الاطفال، وزيت العناية بالطفل و جميع مستلزمات الاطفال الاخرى بالإضافة إلى قسم اخر للعناية الشخصية بالبشرة
    والجسم حيث تجد فيه كل منتجات الجسم، الشعر، البشرة وكل المنتجات الاخرى. إذا كنت تبحث عن شامبو، معجون اسنان، كريمات،
    أو أي شيء آخر، احصل عليه بضغطة زر واحدة. كما تجد ماركات متنوعة مثل الويز، ايفا، وان، والكثير من الماركات الأخرى. كن
    متواصلًا معنا دائمًا لمعرفة آخر عروض السوبر ماركت
  </p>
</div>


<div class="infoo" *ngIf="div2">
  <h3>
    اشتري احدث صيحات الموضة على جوميا
  </h3>
  <p>
    مع وجود فئة مخصصة للأزياء والموضة ، ازياء جوميا، يمكنك الآن الاستمتاع باحدث صيحات الموضة والازياء سواء كانت حريمي أو
    رجالي أو اطفال. توفر جوميا احذية و ملابس بما في ذلك ملابس محجبات ، فساتين سهرة ، فساتين ، ملابس اطفال، فساتين اطفال
    ، ملابس رجالى ، ملابس حريمى ، موديلات عبايات ، فساتين قصيرة ، احذية حريمي واحذية رجالي وشنط حريمي وغيرها الكثير هذا
    بالإضافة إلى إمكانية تصفح صور ملابس متنوعة كأنك تلمسها بيدك. لا تحتاج إلى المعاناة في ازدحام الشوارع للتسوق حيث بين
    يديك الآن كل ما تحتاجه. تمكنت جوميا في اقتناء احدث مجموعة ازياء الموضة بافضل اسعار في مصر. . </p>
  <h3>
    تسوقي على جوميا واستمتعي بأناقة ليس لها مثيل
  </h3>
  <p>
    هل تودي أن تكوني أنيقة دائمًا؟ إليك الحل الأفضل على الإطلاق وهو التسوق من ازياء جوميا والاستمتاع باحدث صيحات الموضة.
    يمكنك ايجاد كل ما تحتاجيه في فئة الازياء والموضة من احذية حريمي وملابس واكسسورارت أيضًا. بدءًا بالاحذية، توفر جوميا
    صنادل وسنيكرز واحذية سواريه واحذية رياضية وبووت وبلارينا بمختلف الانواع . وليس هناك داع للقلق فيتوفر لدينا جميع
    مقاسات الاحذية. يمكنك الاختيار من بين الوان الاحذية المتنوعة والموديلات الرائعة. بالنسبة للملابس، فهي مشكلة للكثير
    من السيدات، ولكن الآن وبسهولة تامة يمكنك الحصول على ما تريدي من موديلات فساتين وملابس محجبات مع صور ملابس محجبات
    وبنطلون و بلوفر و كيمونو وكارديجان وملابس داخلية و مايوهات وملابس رياضية وملابس للحوامل والمزيد والمزيد للاستمتاع في
    أي فصل من فصول السنة. عن الفئة المفضلة لجميع السيدات سواء صغار أو كبار السن. كل هذا متوفر من ماركات أصلية مثل اديداس
    و نايك و ريفين و اكتيف والكثير
  </p>
  <h3>
    استمتع بثقة وجاذبية على جوميا
  </h3>
  <p>
    استمتع بثقة بالحصول على منتجات أصلية من ماركات موثوق بها. سواء تبحث عن تيشيرت أو بلوفر أو قمصان أو سويت شيرت، ستجد
    ما تحب على جوميا مصر. كما ستجد حذائك المفضل سواء احذية رياضية او كلاسيكية، يمكنك ان تجد مختلف المقاسات والانواع
    لماركات متنوعة مثل اديداس ونايك و مايكل كورس و ريفين و بولو والمزيد.جوميا توصل الطلبات حتى باب منزلك. استمتع بالتسوق
    على جوميا!
  </p>
</div>


<div class="infoo" *ngIf="div3">
  <h3>
    منتجات الصحة و الجمال لجمال يدوم مع جوميا مصر
  </h3>
  <p>
    حتاج للحفاظ على صحتنا بقدر الإمكان لنتمكن من الاستمتاع بكل متع الحياة الى أقصى حد لاطول فترة ممكنة ومع الجمال تزداد
    ثقتك بنفسك والذي يعطيك جاذبية أكبر. العديد من البراندات تساعدنا على تحقيق هذا من خلال منتجات الصحة والعناية بالبشرة
    مثل كريمات الوجه و ديرمارولر و مستحضرات التجميل مثل ميك اب ومنتجات تجميل. مع جوميا يمكنكم الحصول علي اكبر البراندات
    لمنتجات الصحة والجمال مع اسرع نتائج. للمرأة، إذا كنت تبحثين عن براندات ميكب، عطور، منتجات العناية بالبشرة و العناية
    بالشعر، ستجد الكثير من الاختيارات علي جوميا مصر. للرجال، جوميا تقدم منتجات العناية بالرجل مثل ماكينات حلاقة و زيت
    الجوجوبا للزقن وغيرها. استمتع ايضا بمنتجات الصحة و الأدوات الطبية للجميع. جوميا تقدم افضل و ارخص الاسعار في السوق
    على الانترنت للتأكد من توفير أفضل تجربة ولمساعدة الحفاظ علي صحتك وجمالك.
  </p>
  <h3>
    استمتع بأكبر مجموعة منتجات الصحة والجمال مع جوميا مصر
  </h3>
  <p>
    جوميا مصر تهتم بصحتك و سعادتك ولهذا نوفر لعملائنا افضل المنتجات من اروع البراندات فقط. اذا كنت تبحثين عن مكياج او
    عطور رجال، نقدم لكم اكبر مجموعة علي الصحة والجمال. الإنترنت لمنتجات ومستلزمات تسوق لمنتجات العناية بالبشرة والشعر
    لكل انواع البشرة وانواع الشعر التي تناسبك. اشتري افضل المنتجات مع طرق دفع امنة واسرع توصيل فقط عبر جوميا مصر.
  </p>
</div>



<div class="infoo" *ngIf="div4">
  <h3>
    تسوق مستلزمات اطفال من جوميا مصر
  </h3>
  <p>
    تقدم جوميا مصر مجموعة ضخمة من مستلزمات اطفال عالية الجودة لتلبية جميع احتياجاتك. اشتري منتجات اطفال من راحة منزلك
    بسعر رائع دون الحاجة للبحث طويلا في المتاجر. يمكنك ايجاد حفاضات اطفال ناعمة على بشرة طفلك، لديها قدرة امتصاص عالية
    ولا تسمح للتسريب من ماركات عالمية من جوميا مصر. متوفر لدينا حفاضة اطفال من بامبرز، بيبي جوي، فاين بيبي وغيرها من
    علامات تجارية مشهورة في كتالوج الحفاضات المتاح لدينا. اذا كنت تبحث عن منتجات الاطفال للبشره، جوميا مصر هي المكان
    الصحيح للتسوق، حيث توفر كريمات اطفال، زيوت اطفال وبيبى باودر بسعر مميز جدا.
  </p>
  <h3>
    لدينا مستلزمات اطفال من جميع الماركات
  </h3>
  <p>
    احصل على منتجات لشعر الاطفال من ماركات عالمية من جوميا مصر التي تقدم شامبو للاطفال مصنوع من تركيبة مناسبة ولطيفة
    لعيون طفلك الحساسة. يمكنك ايجاد بلسم اطفال، زيت شعر للاطفال، سائل استحمام اطفال وغيرها على موقعنا في كتالوج منتجات
    الاستحمام للاطفال. توفر جوميا مصر اكبر تشكيلة العاب اطفال بجميع الانواع والاشكال، حيث يمكنك ايجاد مكعبات اطفال،
    عرايس اطفال، العاب ذكاء للاطفال، بازل اطفال وغيرها على جوميا مصر. تعتبر اسعار منتجات نونو للاطفال منخفضة جدا ومميزة
    فقط على جوميا مصر.

  </p>
  <h3>
    متوفر منتجات اطفال عالية الجودة
  </h3>
  <p>
    تسوق عربات اطفال متنية وقوية من جوميا مصر مع امكانية الارجاع المجاني خلال 14 يوم. يمكنك ايجاد طعام للاطفال ومستلزمات
    طعام الاطفال مثل ببرونات اطفال، اكواب اطفال، اطباق اطفال وغيرها على موقعنا. اذا كنت تبحث عن ملابس انيقة ومريحة
    لطفلك، ادخل على كتالوج ملابس الاطفال المتوفر لدينا الذي يعرض ملابس من علامات تجارية مشهورة ومناسبة للبنات والولاد.
    هل تريد تعقب طفلك فى كل مكان؟ اشتري جهاز تتبع الاطفال من جوميا مصر، حتى تتمكن من الحصول على امان وسلامة طفلك.

  </p>
</div>

