<mat-toolbar fxFlex fxLayout="row" fxLayoutAlign="space-between center">
  <div
    class="logo-container"
    fxFlex="15"
    fxFlex.md="30"
    fxFlex.lt-md="20"
    fxFlex.sm="15"
    fxFlex.lt-sm="20"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <div
      class="logo"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      routerLink="/welcome"
    >
      <img
        fxFlex
        inline="true"
        title="هاتلي و وديلي"
        src="../../../assets/images/Logo.png"
      />
    </div>

  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center center">

    <nav
      fxFlex="100"
      fxLayout="row"
      fxLayoutAlign="center center"
      mat-tab-nav-bar
      fxLayout="row"
      fxShow.xl
      fxShow.lt-xl
      fxHide.sm
      fxHide.lt-sm
    >
      <a
        mat-tab-link
        style="padding: 33px 0 30px 0; font-size: large; font-family: 'serif'"
        *ngFor="let link of links"
        routerLinkActive="activeLink"
        routerLink="{{ link.location }}"
        [disabled]="link.disabled"
      >
        <mat-icon style="margin: 0 10px">{{ link.icon }}</mat-icon>
        {{ link.name }}
      </a>
      <span #span class="mySpan">15</span>
    </nav>
  </div>

  <div
    class="register"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxFlex="15"
    fxFlex.md="30"
    fxFlex.lt-md="20"
    fxFlex.sm="20"
    fxFlex.lt-sm="35"
    fxShow.xl
    fxShow.lt-xl
    fxHide.sm
    fxHide.lt-sm
  >
    <!--  -->
    <!--  -->
    <!-- <button *ngIf="!loggedIn" class="login" mat-flat-button routerLink="/user/login">
      تسجيل الدخول
      <mat-icon style="margin: 0 5px">touch_app</mat-icon>
    </button> -->

    <!--  -->

    <button class="avatar" *ngIf="loggedIn" mat-flat-button [matMenuTriggerFor]="menu">
      <mat-icon>expand_more</mat-icon>
      {{ userName | casedName }}
      <p-avatar
        styleClass="p-mr-2"
        [style]="{
          'background-color': '#ff6e00',
          'color': '#ffffff',
          'margin': '0px 10px'
        }"
        size="large"
        shape="circle"
        >{{ userName | symbolName }}
      </p-avatar>
    </button>
    <!--  -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item fxFlex fxLayout="row " fxLayoutAlign="center center">
        <span fxFlex="80">تعديل الملف</span>
        <mat-icon fxFlex="10">settings</mat-icon>
      </button>
      <button
        mat-menu-item
        fxFlex
        fxLayout="row "
        fxLayoutAlign="center center"
        (click)="logOut()"
      >
        <span fxFlex="80">تسجيل الخروج</span>
        <mat-icon fxFlex="10">logout</mat-icon>
      </button>
    </mat-menu>
    
  </div>
  <!--  -->
  <!-- Title  -->
  <div
    class="title"
    fxFlex
    fxHide.xl
    fxHide.lt-xl
    fxShow.sm
    fxShow.lt-sm
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <p>هاتلي</p>
    <span>9</span>
    <p>وديلي</p>
  </div>
  <!--  -->
  <!-- before side nav open *ngIf="sideOpen"  -->
  <div class="toggleButton" fxHide.xl fxHide.lt-xl fxShow.sm fxShow.lt-sm>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon inline="true">menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
