<div class="title-1" fxLayout="row" fxLayoutAlign="start center">
  نظرة عامة حول الحساب
</div>
<hr class="hr" />
<div
  class="main-cont"
  fxLayout=" row wrap"
  fxLayoutAlign="center center"
  fxLayoutGap="15px"
>
  <div
    class="card"
    fxFlex="47"
    fxFlex.xs="90"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="title-2" fxLayoutAlign="center center">تفاصيل الحساب</div>
      <a
        class="edit-btn"
        fxLayoutAlign="center center"
        routerLink="/shop/profile/details"
      >
        <mat-icon class=".mat-icon-1">edit</mat-icon></a
      >
    </div>
    <hr class="hr" />
    <div class="content" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
      <!-- content here -->
      <button
        mat-button
        class="button-2"
        style="color: #f68b1e"
        routerLink="/shop/profile/change-pass"
      >
        تغير كلمة المرور
      </button>
    </div>
  </div>
  <div
    class="card"
    fxFlex="47"
    fxFlex.xs="90"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="title-2" fxLayoutAlign="center center">جهات الاتصال</div>
      <a
        class="edit-btn"
        fxLayoutAlign="center center"
        routerLink="/shop/profile/address"
      >
        <mat-icon class=".mat-icon-1">edit</mat-icon></a
      >
    </div>
    <hr class="hr" />
    <div class="content" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
      <!-- content here -->
    </div>
  </div>
</div>
