.cartDiv {
  display: inline-flex;border: 1px aqua;
  border: 1px solid red;
  width: 833px;
  height: 153px;
  background-color: whitesmoke;
}
.h4, h4 {
  font-size: 1.5rem;
  width: 165px;
}
p {
  text-align: center;
  height: 20px;
}
::ng-deep .mat-form-field-wrapper {
  position: relative;
  height: 59px;
}
::ng-deep .mat-form-field-flex {
  cursor: pointer;
  height: 35px;
  border-radius: 10px;
}
.total {
  height: 10px;
    position: absolute;
    top: 37px;
    left: 39px;
    font-weight: bold;
    color: coral;
}
p {
    text-align: center;
    height: 20px;
    color: coral;
    font-weight: bold;
}
::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(-50%);
  position: relative;
  top: 20px;
}
.matSelect {
  height: 7px; position: absolute;
      top: -20px;
      color: coral;
      font-weight: bolder;
}
