<h1 style="float: right">عربة التسوق</h1>
<div *ngFor="let element of cart" class="cartDiv mb-5">
  <h4 style="text-align: center">اجمالي المبلغ</h4>
  <p #totalPrice class="total"></p>
  <div style="border: 1px aqua">
    <h4 style="text-align: right">سعر الوحدة</h4>
    <p style="font-weight: bold; color: coral;">{{ element?.price }}</p>
  </div>
  <div style="border: 1px aqua; margin-left: 10px" >
    <h4 style="text-align: center">الكميه</h4>
    <mat-form-field appearance="fill" style="height: 10px">
      <mat-select class="matSelect" >
        <mat-option *ngFor="let item of element?.values" [value]="item.value" (click)=togglePrice(element,item) >
          {{ item.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="border: 1px aqua; width: 318px; margin-left: 10px">
    <h4 style="text-align: right">المنتج</h4>
    <p style="font-weight: bold; color: coral;">{{ element?.detail }}</p>
  </div>
</div>
