@import "variables";

$color: #ff6e00;
// border
.b-r-5 {
  border-radius: 5px !important;
}
.b-r-3 {
  border-radius: 3px;
}
.b-r-2 {
  border-radius: 2px;
}

.p-4 {
  margin: 4px !important;
}
.p-r-4 {
  padding-right: 4px !important;
}
.p-l-4 {
  padding-left: 4px !important;
}

.p-8 {
  margin: 8px !important;
}

.m-t-16 {
  margin-top: 16px !important;
}

.m-t-8 {
  margin-top: 8px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.w-full {
  width: 100%;
}
// height
.h-18 {
  height: 18px;
}
.h-40 {
  height: 40px !important;
}
.h-t-18 {
  line-height: 18px;
  height: 20px;
}
.h-full {
  height: 100%;
}
// titles
.tittle-18 {
  padding: 0;
  margin: 0;
  height: 20px;
  font-size: 1.25rem;
}
// weight
.t-bold {
  font-weight: bold;
}
.t-400 {
  font-weight: 400;
}
.t-600 {
  font-weight: 600;
}
// align
.t-start {
  text-align: start;
}
.t-end {
  text-align: end;
}
.t-center {
  text-align: center;
}
// custom
.button1 {
  height: 45px;
  margin: 0 10px !important;
  font-size: 19px !important;
  font-weight: bold;
  mat-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
    margin: 0 5px;
  }
}
/* images ***************/
.svg-icon {
  height: 22px;
  width: 22px;
  // object-fit: contain;
  margin: 0 4px;
}

//
.button1:hover {
  color: $color;
}

.best-seller {
  .title {
    height: 40px;
    border-radius: 4px;
    margin: 4px 10px;
    padding: 4px 5px;
    font-size: 22px;
    font-weight: 600;
  }
  .show-all {
    font-size: 18px;
    text-decoration: none;
  }
  .show-all:hover {
    cursor: pointer;
  }
  min-height: 250px;
  margin-bottom: 20px;
  background-color: #ffffff;
  item {
    margin: 8px 0;
    border-radius: 5px;
    transition: 0.1s ease-in;
  }
  item:hover,
  item:checked {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 6px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 0px 15px 6px rgba(214, 214, 214, 1);
    box-shadow: 0px 0px 15px 6px rgba(214, 214, 214, 1);
  }
}

@media screen and (max-width: 600px) {
  .button1 {
    height: 35px !important;
    margin: 5px !important;
    font-size: 16px !important;
    font-weight: bold;
    mat-icon {
      font-size: 25px;
      height: 25px;
      width: 25px;
      margin: 0 3px;
    }
  }
}
