// scroll customize
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f68b1e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff6f00;
  opacity: 1;
}
@media (max-width: 953px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
