<div class="container" fxLayout="row wrap" fxLayoutAlign="center center" dir="rtl">
  <div class="banner" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
    <img src="../../../assets/images/logo3.jpg" alt="" />
    <h2 fxFlex="100">سوف تتوفر هذة الخدمة قريبا في مركز كوم حمادة...</h2>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <button fxFlex.xs="100" mat-raised-button routerLink="/welcome">
        العودة الي الرئيسية
      </button>
    </div>
  </div>
</div>
